<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>
  <div class="container">
    <div class="row text-center">
      <h1 class="page-header">Queen's Global Energy Conference
      
      </h1>
    </div>
    <div class="row minor-section">
      <div class="col-md-7">
        <img class="img-responsive img-rounded" src="img/execs/group-photo1.jpg" alt="QGEC Execs group photo">
      </div>
      <div class="col-md-5">
        <h2>Our Mission</h2>
        <p class="lead">
          QGEC aims to educate delegates on trends and technologies in a variety of energy sectors, while providing insight into how they affect the energy industry as a whole.
        </p>
        <p>
          Our goal is to provide delegates with a unique world view of the energy industry by connecting them with experts, thought leaders and innovators from across different energy sectors. The conference provides industry professionals with the opportunity to inspire a new generation of talent, and guide them through this state of change.
        </p>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
    <div class="col-sm-6">
      <p class="text-center" style="margin-top: 15px;"><strong>Natalie Wroblewski</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="../img/execs/headshots/chair1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Co-Chair</p>
        <p>Chemical Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/natalie-wroblewski-60125a113/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
    </div>
    </div>
     <div class="col-sm-6">
      <p class="text-center" style="margin-top: 15px;"><strong>Graham Girard</strong></p><br>
      <a href="#demo1" data-toggle="collapse">
        <img src="../img/execs/headshots/chair2.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo1" class="collapse">
        <p>Co-Chair</p>
        <p>Electrical Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="www.linkedin.com/in/girardgraham">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Olivia Heintzman</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="../img/execs/headshots/delegates1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Delegates Coordinator</p>
        <p>Environmental Science</p>
       <!-- <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/alex-beaumont-stidwill/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Troy Su</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="../img/execs/headshots/logistics1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Director of Logistics and Finance</p>
        <p>Engineering Physics</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/troysu/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Khalil Daibes</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="../img/execs/headshots/logistics2.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>Finance & Logistics Coordinator</p>
        <p>Commerce</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/khalil-daibes/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Farhaj Khan</strong></p><br>
      <a href="#demo5" data-toggle="collapse">
        <img src="../img/execs/headshots/market1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>Director of Marketting</p>
        <p>Commerce</p>
       <!-- <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/alex-beaumont-stidwill/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Gabrielle Samek</strong></p><br>
      <a href="#demo6" data-toggle="collapse">
        <img src="../img/execs/headshots/market2.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo6" class="collapse">
        <p>Marketing Coordinator</p>
        <p>Mining Engineering</p>
        <!--<section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/troysu/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Alex Beaumont Stidwill</strong></p><br>
      <a href="#demo7" data-toggle="collapse">
        <img src="../img/execs/headshots/market3.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo7" class="collapse">
        <p>Web & IT Coordinator</p>
        <p>Computer Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/alex-beaumont-stidwill/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Hanna Medwid</strong></p><br>
      <a href="#demo8" data-toggle="collapse">
        <img src="../img/execs/headshots/speakers2.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo8" class="collapse">
        <p>Speakers Director</p>
        <p>Mechanical Engineering and Global Development Studies</p>
          <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/hanna-medwid-aa7a4b113/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Carly Portch</strong></p><br>
      <a href="#demo9" data-toggle="collapse">
        <img src="../img/execs/headshots/speakers1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo9" class="collapse">
        <p>Speakers Coordinator</p>
        <p>Civil Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="www.linkedin.com/in/carly-portch-b02386114">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Millar Coveney</strong></p><br>
      <a href="#demo10" data-toggle="collapse">
        <img src="../img/execs/headshots/speakers3.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo10" class="collapse">
        <p>Speakers Coordinator</p>
        <p>Civil Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="www.linkedin.com/in/millar-coveney">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Simon Kersten</strong></p><br>
      <a href="#demo11" data-toggle="collapse">
        <img src="../img/execs/headshots/speakers4.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo11" class="collapse">
        <p>Speakers Coordinator</p>
        <p>Applied Mathematics & Engineering</p>
        <!-- <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/hanna-medwid-aa7a4b113/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
    <div class="col-sm-4"> <p class="text-center"><strong>Tahmid Tajwar</strong></p><br> <a href="#demo12" data-toggle="collapse"> <img src="../img/execs/headshots/spons4.jpg" class="img-circle person" width="255" height="255"> </a> <div id="demo12" class="collapse"> <p>Director of Sponsorship</p> <p>Electrical Engineering</p> <section class="socialmedia"> <a class="icons" target="_blank" href="https://www.linkedin.com/in/mtajwar/"> <i class="fa fa-linkedin-square fa-2x"></i> </a> </section> </div> </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Andrew Silla</strong></p><br>
      <a href="#demo13" data-toggle="collapse">
        <img src="../img/execs/headshots/spons2.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo13" class="collapse">
        <p>Sponsorship Coordinator</p>
        <p>Mechanical Engineering</p>
        <!--<section class="socialmedia">
          <a class="icons" target="_blank" href="www.linkedin.com/in/millar-coveney">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Javier Sanchez Mejorada</strong></p><br>
      <a href="#demo20" data-toggle="collapse">
        <img src="../img/execs/headshots/spons3.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo20" class="collapse">
        <p>Sponsorship Coordinator</p>
        <p>Electrical Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/javier-sanchez-mejorada-a3649a144/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Allison Finer</strong></p><br>
      <a href="#demo21" data-toggle="collapse">
        <img src="../img/execs/headshots/spons1.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo21" class="collapse">
        <p>Sponsorship Coordinator</p>
        <p>Geological Engineering</p>
        <!--<section class="socialmedia">
          <a class="icons" target="_blank" href="www.linkedin.com/in/carly-portch-b02386114">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section> -->
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Alp Turkmen</strong></p><br>
      <a href="#demo22" data-toggle="collapse">
        <img src="../img/execs/headshots/firstyear.jpg" class="img-circle person" width="255" height="255">
      </a>
      <div id="demo22" class="collapse">
        <p>First Year Representative</p>
        <p>General Engineering</p>
        <section class="socialmedia">
          <a class="icons" target="_blank" href="https://www.linkedin.com/in/alp-turkmen/">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </section>
      </div>
    </div>
  </div>
    </div>
    
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h2>We'd love to meet you!</h2>
        <img class="img-responsive img-rounded" src="img/execs/group-photo.jpg" alt="QGEC small group photo">
      </div>
    </div>
    <div class="row section text-center">
      <div class="col-md-4 col-md-offset-4 well">
        <h1><a target="_blank" href="https://qgec.typeform.com/to/wHjnc2">Apply</a> today.</h1>
      </div>
    </div>
  </div>
  <% include common/footer %>
</body>
</html>