<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>
  <div class="container">
    <div class="row text-center">
      <h1 class="page-header">Queen's Global Energy Conference
        <br>
        <small class="sub-header">Yearly Conference held in late Feburary, at Queen's University</small>
      </h1>
    </div>
    <div class="row section text-center">
      <div class="col-md-6">
        <img class="img-responsive" src="img/execs/2017/group.jpg" alt="QGEC Execs group photo">
      </div>
      <div class="col-md-6">
        <h2>Our Mission</h2>
        <p class="lead">
          QGEC primarily aims to educate delegates on trends and technologies in a variety of energy sectors, while providing insight into how they affect the energy industry as a whole.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="row section text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/katrina.jpg" alt="katrina">
          <div class="caption">
            <h3>Katrina Stirling<br>
                <small>Co-Chair</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/shannon.jpg" alt="shannon">
          <div class="caption">
            <h3>Shannon Whitaker <br>
                <small>Co-Chair</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/farhaj.jpg" alt="farhaj">
          <div class="caption">
            <h3>Farhaj Khan<br>
                <small>Logistics &amp; Finance</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/graham.jpg" alt="graham">
          <div class="caption">
            <h3>Graham Girard<br>
                <small>Sponsorship</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/bill.jpg" alt="bill">
          <div class="caption">
            <h3>Bill Poldon<br>
                <small>Sponsorship</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/ashlyn.jpg" alt="ashlyn">
          <div class="caption">
            <h3>Ashlyn Secord<br>
                <small>Sponsorship</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/austin.jpg" alt="austin">
          <div class="caption">
            <h3>Austin Greisman<br>
                <small>Marketing</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/jeffrey.jpg" alt="jeffrey">
          <div class="caption">
            <h3>Jeffrey Lau<br>
                <small>Marketing</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/emily.jpg" alt="emily">
          <div class="caption">
            <h3>Emily Santilli<br>
                <small>Event &amp; Case</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/troy.jpg" alt="troy">
          <div class="caption">
            <h3>Troy Su<br>
                <small>Delegates</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/peter.jpg" alt="peter">
          <div class="caption">
            <h3>Peter Ju<br>
                <small>Web &amp; IT</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/alison.jpg" alt="alison">
          <div class="caption">
            <h3>Alison Finer<br>
                <small>First Year Rep.</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/ashlyn.jpg" alt="ashlyn">
          <div class="caption">
            <h3>Justin Wakter<br>
                <small>Speakers</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/ashlyn.jpg" alt="ashlyn">
          <div class="caption">
            <h3>Natalie Wroblewski<br>
                <small>Speakers</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/ashlyn.jpg" alt="ashlyn">
          <div class="caption">
            <h3>Shwetha Sivakumar<br>
                <small>Marketing</small>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include common/footer %>
</body>
</html>