<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>
  <div class="container">
    <div class="row text-center">
      <h1 class="page-header">Queen's Global Energy Conference
        <br>
        <small class="sub-header">Yearly Conference held in Feburary, at Queen's University</small>
      </h1>
    </div>
    <div class="row section">
      <div class="col-md-7">
        <img class="img-responsive img-rounded" src="img/execs/2017/group.jpg" alt="QGEC Execs group photo">
      </div>
      <div class="col-md-5">
        <h2>Our Mission</h2>
        <p class="lead">
          QGEC aims to educate delegates on trends and technologies in a variety of energy sectors, while providing insight into how they affect the energy industry as a whole.
        </p>
        <p>
          Our goal is to provide delegates with a unique world view of the energy industry by connecting them with experts, thought leaders and innovators from across different energy sectors. The conference provides industry professionals with the opportunity to inspire a new generation of talent, and guide them through this state of change.
        </p>
      </div>
    </div>
    <div class="row section text-center">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/katrina.jpg" alt="katrina">
          <div class="caption">
            <h3>Katrina Stirling<br>
                <small>Co-Chair<br>Eng. Physics - Mechanical</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/shannon.jpg" alt="shannon">
          <div class="caption">
            <h3>Shannon Whitaker <br>
                <small>Co-Chair<br>Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/farhaj.jpg" alt="farhaj">
          <div class="caption">
            <h3>Farhaj Khan<br>
                <small>Logistics &amp; Finance<br>Commerce</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/troy.jpg" alt="troy">
          <div class="caption">
            <h3>Troy Su<br>
                <small>Delegates<br>Eng. Physics - Materials</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/emily.jpg" alt="emily">
          <div class="caption">
            <h3>Emily Santilli<br>
                <small>Event &amp; Case<br>Electrical Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/justin.jpg" alt="justin">
          <div class="caption">
            <h3>Justin Wakter<br>
                <small>Speakers<br>Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/natalie.jpg" alt="natalie">
          <div class="caption">
            <h3>Natalie Wroblewski<br>
                <small>Speakers<br>Chemical Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/henry.jpg" alt="henry">
          <div class="caption">
            <h3>Henry von Schroeter<br>
                <small>Speakers<br>Eng.</small>
            </h3>
            <p>
              <a href="https://www.linkedin.com/in/henry-von-schroeter-58a79795"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/graham.jpg" alt="graham">
          <div class="caption">
            <h3>Graham Girard<br>
                <small>Sponsorship<br>Electrical Eng.</small>
            </h3>
            <p>
              <a href="https://ca.linkedin.com/in/graham-girard-bb8540110"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/bill.jpg" alt="bill">
          <div class="caption">
            <h3>Bill Poldon<br>
                <small>Sponsorship<br>Mechanical Eng.</small>
            </h3>
            <p>
              <a href="https://ca.linkedin.com/in/bill-poldon-4b07ab73"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/ashlyn.jpg" alt="ashlyn">
          <div class="caption">
            <h3>Ashlyn Secord<br>
                <small>Sponsorship<br>Geological Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/austin.jpg" alt="austin">
          <div class="caption">
            <h3>Austin Greisman<br>
                <small>Marketing<br>Electrical Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/shwetha.jpg" alt="shwetha">
          <div class="caption">
            <h3>Shwetha Sivakumar<br>
                <small>Marketing<br>Computer Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/jeffrey.jpg" alt="jeffrey">
          <div class="caption">
            <h3>Jeffrey Lau<br>
                <small>Marketing<br>Law</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/peter.jpg" alt="peter">
          <div class="caption">
            <h3>Peter Ju<br>
                <small>Web &amp; IT<br>Computer Science</small>
            </h3>
            <p>
              <a href="https://www.linkedin.com/in/peterju"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="img-responsive" src="img/execs/2017/alison.jpg" alt="alison">
          <div class="caption">
            <h3>Alison Finer<br>
                <small>First Year Rep<br>General Eng.</small>
            </h3>
            <p>
              <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h2>We'd love to meet you!</h2>
        <img class="img-responsive img-rounded" src="img/execs/2017/speakers.jpg" alt="QGEC Speakers group photo">
      </div>
    </div>
    <div class="row section text-center">
      <div class="col-md-4 col-md-offset-4 well">
        <h1><a href="/apply">Apply</a> today.</h1>
      </div>
    </div>
  </div>
  <% include common/footer %>
</body>
</html>