    <div class="row section ">
      <div class="col-lg-12">
        <h2 class="page-header text-center">Team</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>    
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>



<!-- old home content -->

    <hr>

    <div class="row section">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-power-off"></i> About QGEC</h4>
          </div>
          <div class="panel-body">
            <p>
              The Queen's Global Energy Conference is run by students of Queen's University, and we have philosophies that guide the nature of our conferences.
              <br>
              <a href="/about" class="btn btn-default panel-btn pull-right">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-child"></i> Get Involved</h4>
          </div>
          <div class="panel-body">
            <p>
              There's many ways to get involved. If you would like to participate, you can sign up as a delegate, or if you're an expert in the field and would like to share knowledge, apply to become a speaker. We're also always looking for corporate partners to help ensure the conference is a success.
            </p>
            <div class="btn-group pull-right"ma>
              <a href="/delgates" class="btn btn-default panel-btn">Delegates</a>
              <a href="/delgates" class="btn btn-default panel-btn">Speakers</a>
              <a href="/delgates" class="btn btn-default panel-btn">Partners</a>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-calendar"></i> Previous Years</h4>
          </div>
          <div class="panel-body">
            <p>
              QGEC had its inaugural year last year, in 2016. The slogan of our previous conference was 'Shaping the Energy of Tomorrow'.
            </p>
            <a href="#" class="btn btn-default panel-btn pull-right">Learn More</a>
          </div>
        </div>
      </div>
    </div>