    <div class="row section ">
      <div class="col-lg-12">
        <h2 class="page-header text-center">Team</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>    
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Katrina</h2>
            <p>Co-Chair</p>
            <a href="" class="info"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>



<!-- old home content -->

    <hr>

    <div class="row section">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-power-off"></i> About QGEC</h4>
          </div>
          <div class="panel-body">
            <p>
              The Queen's Global Energy Conference is run by students of Queen's University, and we have philosophies that guide the nature of our conferences.
              <br>
              <a href="/about" class="btn btn-default panel-btn pull-right">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-child"></i> Get Involved</h4>
          </div>
          <div class="panel-body">
            <p>
              There's many ways to get involved. If you would like to participate, you can sign up as a delegate, or if you're an expert in the field and would like to share knowledge, apply to become a speaker. We're also always looking for corporate partners to help ensure the conference is a success.
            </p>
            <div class="btn-group pull-right"ma>
              <a href="/delgates" class="btn btn-default panel-btn">Delegates</a>
              <a href="/delgates" class="btn btn-default panel-btn">Speakers</a>
              <a href="/delgates" class="btn btn-default panel-btn">Partners</a>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-calendar"></i> Previous Years</h4>
          </div>
          <div class="panel-body">
            <p>
              QGEC had its inaugural year last year, in 2016. The slogan of our previous conference was 'Shaping the Energy of Tomorrow'.
            </p>
            <a href="#" class="btn btn-default panel-btn pull-right">Learn More</a>
          </div>
        </div>
      </div>
    </div>








    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row section">
      <div class="col-md-8">
        <h3>Send us a Message</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
                <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary btn-block">Send</button>
        </form>
      </div>
    </div>