<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>

  <% include index/head-carousel %>

  <div class="container test">
    <div class="row text-center intro-section">
      <div class="col-lg-12">
        <h1 class="page-header slogan">
          Embracing a New Age of Energy Innovation
        </h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          This year’s conference theme, “Embracing a New Age of Energy Innovation” focuses on embracing a new age of energy innovation.
        </p>
        <p>
          Discussion topics include: The feasibility of alternative energy sources in today’s economy, promising technologies impacting energy-related issues and the problems associated with government led and free market approaches to alternative energy sources.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis delegates section">
    <div class="row text-center">
      <h1>Delegates</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h3>Why participate?</h3>
        <p>
          QGEC is a multi-disciplinary three-day conference that provides delegates with the opportunity to interact with students from different faculties across Canada with a shared interest in environmental sustainability. Delegates will engage with speakers and sponsors from a variety of different backgrounds and discuss the challenges and opportunities presented by a sustainable approach to business and innovation. At QGEC, you will be immersed in a weekend of case competitions, networking sessions, speaker panels, workshops and socials, all designed to make the conference a truly exceptional and inspirational experience.
        </p>
      </div>
    </div>
    <% include index/quotes %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-primary btn-block">Apply Now</a>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis speakers section">
    <div class="row text-center">
      <h1>Speakers</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          These leaders at the forefront of their respective fields inspired future leaders by speaking to provide a better understanding of what the future of energy entails.
        </p>
      </div>
    </div>
    <div class="row minor-section">
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/tom.jpg" class="img-responsive img-circle" alt="tom">
          <h4>Tom Murad</h4>
          <p class="text-muted">Siemens Canada<br>
            <small>Head of Engineering &amp; Technology</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/brian.jpg" class="img-responsive img-circle" alt="brian">
          <h4>Brian Livingston</h4>
          <p class="text-muted">Imperial Oil<br>
            <small>Former Energy Executive</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/chad.jpg" class="img-responsive img-circle" alt="chad">
          <h4>Chad Joshi</h4>
          <p class="text-muted">Altranex<br>
            <small>President &amp; CEO</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/tim.jpg" class="img-responsive img-circle" alt="tim">
          <h4>Tim Smitheman</h4>
          <p class="text-muted">Samsung<br>
            <small>Senior Manager, Public Relations</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/anthony.jpg" class="img-responsive img-circle" alt="anthony">
          <h4>Anthony Santilli</h4>
          <p class="text-muted">Bullfrog Power<br>
            <small>Vice President in Sales &amp; Marketing</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/rob.jpg" class="img-responsive img-circle" alt="rob">
          <h4>Rob Andrews</h4>
          <p class="text-muted">Heliolytics<br>
            <small>Founder &amp; CEO</small>
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center minor-section">
      <p class="lead">
        If you're an industry leader and want to participate as a speaker, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>

  <div class="container-fluid emphasis partners section">
    <div class="row text-center">
      <h1>Partners</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          QGEC cannot be as great of a success without these wonderful sponsors.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/siemens.jpg" alt="siemens">
          <div class="overlay">
            <h2>Siemens Canada</h2>
            <p>Multinational engineering, electronics, and energy company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/bullfrog.jpg" alt="bullfrog-power">
          <div class="overlay">
            <h2>Bullfrog Power</h2>
            <p>Canadian 100% Green Energy Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/heliolytics.jpg" alt="heliolytics">
          <div class="overlay">
            <h2>Heliolytics</h2>
            <p>Global Leader in Aerial Thermal Imaging and Analysis for Photovoltaic Systems</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/uk.jpg" alt="utilities-kingston">
          <div class="overlay">
            <h2>Utilities Kingston</h2>
            <p>Kingston-based Multi-Utility Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/westview.jpg" alt="westview">
          <div class="overlay">
            <h2>Westview Capital Partners</h2>
            <p>Boston-based Private Equity Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/cswan.jpg" alt="cunningham-swan">
          <div class="overlay">
            <h2>Cunningham Swan</h2>
            <p>Kingston-based Law Firm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <p class="lead">
        If you're interested in becoming a partner for a great cause, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>

  
  <div class="container">
    <div class="row section">
      <div class="col-lg-12">
        <h2 class="page-header text-center">Featured Clean Energy Methods</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Solar</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Hydro</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Wind</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Geothermal</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Bio</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Energy Storage</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            Apply to be a delegate today! Don't miss out on one of the biggest environmental conferences held in Canada, seats are limited.
          </p>
          <p>
            If you have any questions, reach out to us at any time.
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-primary btn-block" href="/delegates">Apply Now</a>
          <a class="btn btn-lg btn-default btn-block" href="/contact">Contact</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <% include common/footer %>
  <script type="text/javascript" src="js/carousel_slide.js"></script>
</body>
</html>