<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>

  <% include index/head-carousel %>

  <div class="container well intro-section">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="page-header sub-slogan">2017 Delegate Applications are now Open!</h1>
        <h2>Conference Details: <br><small>Friday to Sunday</small><br>February 10th ~ 12th<br><small>Downtown Kingston, Ontario</small></h2>
      </div>
    </div>
    <div class="row text-center minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-qgec btn-block btn-lg">Apply Now</a>
      </div>
    </div>
    <div class="minor-section"></div>
  </div>

  <div class="container">
    <div class="row text-center intro-section">
      <div class="col-lg-12">
<!--         <h1>
          February 10 - 12
          <br>
          2017
        </h1> -->
        <h1 class="page-header slogan">
          Embracing a New Age of Innovation
        </h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          This year’s conference theme, “Embracing a New Age of Innovation” focuses on providing a holistic view of the innovation and change going on in the industry today and tomorrow.
        </p>
        <p>
          The current energy environment is in a period of radical change. The energy sector must take a pragmatic approach to innovate within traditional sectors while expanding the reach of renewable energy. With countries seeking energy independence, new technologies are being developed to disrupt and shape the future of the energy industry. A New Age of Energy Innovation is being ushered in to explore new methods in traditional energy landscapes and emerging alternative resources, while balancing economic prosperity with environmental sustainability. There is a need now, more than ever, to attract bright young minds to be at the forefront of this disruption.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis delegates section">
    <div class="row text-center">
      <h1>Delegates</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Why participate?</h2>
        <p>
          <a href="/about">QGEC</a> provides students with the unique opportunity to learn about globally emerging markets and trends in today's diverse energy sectors, in a conference which provides a floor where all sectors of the energy industry are represented.
        </p>
        <p>
          The scheduled activities include sessions to hear from industry leaders about their energy sectors, various social events and meals at Kingston's most cherished venues, and a case competition. Intimate learning and networking opportunities are aplenty.
        </p>
      </div>
    </div>
    <% include index/quotes %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-qgec btn-block">Apply Now</a>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis speakers section">
    <div class="row text-center">
      <h1>Speakers</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          These leaders at the forefront of their respective fields inspired future leaders by speaking to provide a better understanding of what the future of energy entails.
        </p>
      </div>
    </div>
    <div class="row minor-section text-center">
      <h2>Previous Speakers</h2>
    </div>
    <div class="row minor-section">
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/tom.jpg" class="img-responsive img-circle" alt="tom">
          <h4>Tom Murad</h4>
          <p class="text-muted">Siemens Canada<br>
            <small>Head of Engineering &amp; Technology</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/brian.jpg" class="img-responsive img-circle" alt="brian">
          <h4>Brian Livingston</h4>
          <p class="text-muted">Imperial Oil<br>
            <small>Former Energy Executive</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/chad.jpg" class="img-responsive img-circle" alt="chad">
          <h4>Chad Joshi</h4>
          <p class="text-muted">Altranex<br>
            <small>President &amp; CEO</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/lisa.jpg" class="img-responsive img-circle" alt="lisa">
          <h4>Lisa Asbreuk</h4>
          <p class="text-muted">Cunningham Swan<br>
            <small>Partner, Business Law</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/anthony.jpg" class="img-responsive img-circle" alt="anthony">
          <h4>Anthony Santilli</h4>
          <p class="text-muted">Bullfrog Power<br>
            <small>Vice President in Sales &amp; Marketing</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speakers/2016/rob.jpg" class="img-responsive img-circle" alt="rob">
          <h4>Rob Andrews</h4>
          <p class="text-muted">Heliolytics<br>
            <small>Founder &amp; CEO</small>
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center minor-section">
      <p class="lead">
        If you're an industry leader and want to participate as a speaker, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>

  <div class="container-fluid emphasis partners section">
    <div class="row text-center">
      <h1>Partners</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          QGEC could not be as successful without our wonderful sponsors.
        </p>
      </div>
    </div>
    <div class="row minor-section text-center">
      <h2>Previous Partners</h2>
    </div>
    <div class="row minor-section">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/siemens.jpg" alt="siemens">
          <div class="overlay">
            <h2>Siemens Canada</h2>
            <p>Multinational engineering, electronics, and energy company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/bullfrog.jpg" alt="bullfrog-power">
          <div class="overlay">
            <h2>Bullfrog Power</h2>
            <p>Canadian 100% Green Energy Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/heliolytics.jpg" alt="heliolytics">
          <div class="overlay">
            <h2>Heliolytics</h2>
            <p>Global Leader in Aerial Thermal Imaging and Analysis for Photovoltaic Systems</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/uk.jpg" alt="utilities-kingston">
          <div class="overlay">
            <h2>Utilities Kingston</h2>
            <p>Kingston-based Multi-Utility Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/westview.jpg" alt="westview">
          <div class="overlay">
            <h2>Westview Capital Partners</h2>
            <p>Boston-based Private Equity Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/cswan.jpg" alt="cunningham-swan">
          <div class="overlay">
            <h2>Cunningham Swan</h2>
            <p>Kingston-based Law Firm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <p class="lead">
        If you're interested in becoming a partner for a great cause, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>

  
  <div class="container">
    <div class="row section">
      <div class="col-lg-12">
        <h1 class="page-header text-center">Mainstream Renewable Energy Technologies</h1>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-solar" id="solar">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/solar.jpg" alt="solar">
          <div class="overlay">
            <h2>Solar</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-hydro">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/hydro.jpg" alt="hydro">
          <div class="overlay">
            <h2>Hydro</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-wind">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/wind.jpg" alt="wind">
          <div class="overlay">
            <h2>Wind</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-geothermal">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/geothermal.jpg" alt="geothermal">
          <div class="overlay">
            <h2>Geothermal</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-bio">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/bio.jpg" alt="bio">
          <div class="overlay">
            <h2>Bio</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-storage">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/storage.jpg" alt="storage">
          <div class="overlay">
            <h2>Energy Storage</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            Apply to be a delegate today! Don't miss out on one of the biggest environmental conferences held in Canada, seats are limited.
          </p>
          <p>
            If you have any questions, reach out to us at any time.
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-qgec btn-block" href="/apply">Apply Now</a>
          <a class="btn btn-lg btn-default btn-block" href="/contact">Contact</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <% include common/footer %>
  <% include index/clean-modals %>
  <script type="text/javascript" src="js/carousel_slide.js"></script>
</body>
</html>