<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>

  <% include index/head-carousel %>

  <div class="container well intro-section">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="page-header sub-slogan">2017 Delegate Applications are now Open!</h1>
        <h2>Conference Details: <br><small>Friday to Sunday</small><br>February 10th ~ 12th<br><small>Downtown Kingston, Ontario</small></h2>
      </div>
    </div>
    <div class="row text-center minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-qgec btn-block btn-lg">Apply Now</a>
      </div>
    </div>
    <div class="minor-section"></div>
  </div>

  <div class="container">
    <div class="row text-center intro-section">
      <div class="col-lg-12">
<!--         <h1>
          February 10 - 12
          <br>
          2017
        </h1> -->
        <h1 class="page-header slogan">
          Embracing a New Age of Innovation
        </h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          This year’s conference theme, “Embracing a New Age of Innovation” focuses on providing a holistic view of the innovation and change going on in the industry today and tomorrow.
        </p>
        <p>
          The current energy environment is in a period of radical change. The energy sector must take a pragmatic approach to innovate within traditional sectors while expanding the reach of renewable energy. With countries seeking energy independence, new technologies are being developed to disrupt and shape the future of the energy industry. A New Age of Energy Innovation is being ushered in to explore new methods in traditional energy landscapes and emerging alternative resources, while balancing economic prosperity with environmental sustainability. There is a need now, more than ever, to attract bright young minds to be at the forefront of this disruption.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis delegates section">
    <div class="row text-center">
      <h1>Delegates</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Why participate?</h2>
        <p>
          <a href="/about">QGEC</a> provides students with the unique opportunity to learn about globally emerging markets and trends in today's diverse energy sectors, in a conference which provides a floor where all sectors of the energy industry are represented.
        </p>
        <p>
          The scheduled activities include sessions to hear from industry leaders about their energy sectors, various social events and meals at Kingston's most cherished venues, and a case competition. Intimate learning and networking opportunities are aplenty.
        </p>
      </div>
    </div>
    <% include index/quotes %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-qgec btn-block">Apply Now</a>
      </div>
    </div>
  </div>

  <div class="container-fluid emphasis speakers section">
    <div class="row text-center">
      <h1>Speakers</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          These leaders at the forefront of their respective fields inspired future leaders by speaking to provide a better understanding of what the future of energy entails.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#bruce">
                <img src="img/speakers/2017/bruce.jpg" class="img-responsive img-circle" alt="bruce">
                <h4>Bruce Mackay</h4>
                <p class="text-muted">Hatch<br>
                  <small>Managing Director</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#davin">
                <img src="img/speakers/2017/davin.jpg" class="img-responsive img-circle" alt="davin">
                <h4>Davin Young</h4>
                <p class="text-muted">Hydrostor<br>
                  <small>Senior Engineer</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#george">
                <img src="img/speakers/2017/george.jpg" class="img-responsive img-circle" alt="george">
                <h4>George Sweetman</h4>
                <p class="text-muted">Queen's University<br>
                  <small>Director</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#joanne">
                <img src="img/speakers/2017/joanne.jpg" class="img-responsive img-circle" alt="joanne">
                <h4>JoAnne Butler</h4>
                <p class="text-muted">IESO<br>
                  <small>Vice President</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#kevin">
                <img src="img/speakers/2017/kevin.jpg" class="img-responsive img-circle" alt="kevin">
                <h4>Kevin Gilchrist</h4>
                <p class="text-muted">OTB Energy<br>
                  <small>Founder</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#kipp">
                <img src="img/speakers/2017/kipp.jpg" class="img-responsive img-circle" alt="kipp">
                <h4>Kipp Horton</h4>
                <p class="text-muted">WindRiver Power<br>
                  <small>CEO</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#kris">
                <img src="img/speakers/2017/kris.jpg" class="img-responsive img-circle" alt="kris">
                <h4>Kris Smith</h4>
                <p class="text-muted">Suncor<br>
                  <small>Vice President</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#rob">
                <img src="img/speakers/2017/rob.jpg" class="img-responsive img-circle" alt="rob">
                <h4>Rob Harvey</h4>
                <p class="text-muted">Hydrogenics<br>
                  <small>Director</small>
                </p>
              </a>
            </div>
            <div class="col-sm-4">
              <a class="speaker" data-toggle="modal" data-target="#shivani">
                <img src="img/speakers/2017/shivani.jpg" class="img-responsive img-circle" alt="shivani">
                <h4>Shivani Chotalia</h4>
                <p class="text-muted">NRStor<br>
                  <small>Analyst</small>
                </p>
              </a>
            </div>
    </div>
    <!-- For 2018, when speaker companies are announced but speakers themselves are not, use the following: -->
<!--     <div class="row minor-section text-center">
      <h2>Featuring Speakers from:</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-1 col-md-10">
        <img src="img/logos/2017/suncor.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hydrogenics.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hydrostor.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/ontpowergen.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/brookfield.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hatch.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/ieso.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/jcm.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/kelvin.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/nrstor.png" class="img-responsive sponsors-img">
      </div>
    </div> -->
    <!-- A collapsible element to hide and show speakers, not used -->
<!--     <div class="row text-center minor-section">
      <a class="btn btn-qgec btn-lg" role="button" data-toggle="collapse" href="#speakersCollapse" aria-expanded="false" aria-controls="speakersCollapse">
        View the Speakers
      </a>
      <div class="collapse" id="speakersCollapse">
        <div class="panel panel-default">
          <div class="panel-body">
            
          </div>
        </div>
      </div>
    </div> -->
    <!-- Leave up during down times of conference -->
<!--     <div class="row text-center minor-section">
      <p class="lead">
        If you're an industry leader and want to participate as a speaker, please <a href="/contact">contact</a> us.
      </p>
    </div> -->
  </div>

  <div class="container-fluid emphasis partners section">
    <div class="row text-center">
      <h1>Partners</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          QGEC could not be as successful without our wonderful partners.
        </p>
      </div>
    </div>
    <div class="row minor-section text-center">
      <img src="img/logos/2017/sea.png" class="img-responsive center-block">
      <h2>
        <small>University of Toronto</small><br> Sustainable Engineers Association (SEA)
      </h2>
      <div class="col-md-offset-2 col-md-8">
        <p>
          We are extremely excited to announce our partnership with the University of Toronto’s <a href="http://www.sustainable-engineers.org/">Sustainable Engineers Association (SEA)</a>! They will be sending students to our conference, and in return, we will be sending some of our students to the U of T Sustainability Conference.
        </p>
        <p>
          SEA's annual Sustainability Conference is taking place on January 28th. This year's theme is “From Policy to Practice”. We will be showcasing how various sustainable projects, ventures and policies are currently being applied within industry practice.
        </p>
        <p>
          This collaboration is exciting for both groups as it gives both parties an opportunity to increase delegate diversity. Delegate diversity is essential in the discussion of global energy and sustainability due to the inherent multidisciplinary nature of such problems. More information about the U of T Sustainability Conference can be found at their <a href="https://www.facebook.com/events/1122346707882485/">Facebook page</a>.
        </p>
      </div>
    </div>

    <div class="row minor-section text-center">
      <img src="img/logos/2017/ecic.png" class="img-responsive center-block">
      <h2>
        <small>Queen's University</small><br> Engineering Commerce Investment Club (ECIC)
      </h2>
      <div class="col-md-offset-2 col-md-8">
        <p>
          The Engineering Commerce Investment Club (ECIC) is a club that aims to provide skills and knowledge pertaining to money management, investing, and business creation. During the conference, they will be providing participants with a <strong>stock simulator</strong>.
        </p>
        <p>
          The QGEC stock simulator will provide delegates with the opportunity to experience what it’s like to invest and manage a portfolio. Delegates will be split into groups where they will be given information on market conditions and a variety of stocks from a range of sectors. Each group will start with the same amount of money and will have the ability to invest and buy stocks. Over the course of the weekend, a series of “shocks” will occur which will cause the values of the stocks to either increase or decrease and the money in your group’s portfolio to change. At the end of the weekend, the winning group will receive a prize.
        </p>
        <p>
          The ECIC meets weekly at SparQ Studios in Carruthers Hall. Weekly meetings include guest speakers, stock pitches and current market discussions. ECIC is an incredibly inclusive environment that welcomes students from every faculty. The multi-disciplinary environment not only provides a variety of perspectives but allows students from a wide range of skill sets to come together and create start-ups. 
        </p>
      </div>
    </div>

    <div class="row minor-section text-center">
      <h2>Further Sponsors</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-1 col-md-10">
        <img src="img/logos/2017/hydro1.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/utilkingston.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/engsoc.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/shell.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/soylent.jpg" class="img-responsive sponsors-img">
      </div>
    </div>

    <div class="row text-center minor-section">
      <p class="lead">
        If you're interested in becoming a partner for a great cause, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>

  
  <div class="container">
    <div class="row major-section">
      <div class="col-lg-12">
        <h1 class="page-header text-center">Mainstream Renewable Energy Technologies</h1>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-solar" id="solar">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/solar.jpg" alt="solar">
          <div class="overlay">
            <h2>Solar</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-hydro">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/hydro.jpg" alt="hydro">
          <div class="overlay">
            <h2>Hydro</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-wind">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/wind.jpg" alt="wind">
          <div class="overlay">
            <h2>Wind</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-geothermal">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/geothermal.jpg" alt="geothermal">
          <div class="overlay">
            <h2>Geothermal</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-bio">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/bio.jpg" alt="bio">
          <div class="overlay">
            <h2>Bio</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-storage">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/storage.jpg" alt="storage">
          <div class="overlay">
            <h2>Energy Storage</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            Apply to be a delegate today! Don't miss out on one of the biggest environmental conferences held in Canada, seats are limited.
          </p>
          <p>
            If you have any questions, reach out to us at any time.
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-qgec btn-block" href="/apply">Apply Now</a>
          <a class="btn btn-lg btn-default btn-block" href="/contact">Contact</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <% include common/footer %>
  <% include index/clean-modals %>
  <% include speaker-modals %>
  <script type="text/javascript" src="js/carousel_slide.js"></script>
</body>
</html>