<html>
<head>
  <% include common/head %>
</head>
<body>

  <% include common/nav %>

<div class="intro-header1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Queen's Global Energy Conference</h1>
          <h3>Seeking A New Energy Equilibrium</h3>
          <h2>January 26th - 28th, 2018</h2>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="container well intro-section">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="page-header sub-slogan">2018 Delegate Applications are now Open!</h1>
        <h2>Conference Details: <br><small>Friday to Sunday</small><br>January 26th ~ 28th<br><small>Holiday Inn, Kingston, Ontario</small></h2>
      </div>
    </div>
    <div class="row text-center minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a target="_blank" href="https://qgec.typeform.com/to/wHjnc2" class="btn btn-qgec btn-block btn-lg">Apply Now</a>
      </div>
    </div> 
  </div> 
-->

<div class="container well intro-section">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="page-header sub-slogan">Important Delegate Information</h1>
        <h2>Conference Details: <br><small>Friday to Sunday</small><br>January 26th ~ 28th<br><small>Holiday Inn Waterfront Location, Kingston, Ontario</small></h2>
      </div>
    </div>
    <div class="row text-center minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a target="_blank" href="docs/qgec-schedule.pdf" class="btn btn-qgec btn-block btn-lg">Conference Schedule</a>
      </div>
    </div> 
  </div> 

<div class="container">
    <div class="row text-center intro-section">
      <div class="col-lg-12">
        <h1 class="page-header slogan">
          Seeking An Energy Equilibrium
        </h1>
        <h2><small>Friday to Sunday</small><br>January 26th ~ 28th<br><small>Holiday Inn, Kingston, Ontario</small></h2>
      </div>
    </div>
    <div class="container text-center">
      <div class="col-sm-4">  
         <div class="intro-message">
            <h2>Engage</h2>
         </div>
        <i class="fa fa-university fa-4x" aria-hidden="true"></i> 
        <p style="margin-top: 20px;">Engage delegates, speakers and sponsors through various interactive workshops, question panels and networking sessions.</p> 
      </div>

      <div class="col-sm-4">
        <div class="intro-message">
            <h2>Connect</h2>
         </div>
        <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
        <p style="margin-top: 20px;">An environment where the industry and innovators may connect and share meaningful conversation about the exciting future of the energy sector.</p> 
      </div>
  
      <div class="col-sm-4">
        <div class="intro-message">
            <h2>Inspire</h2>
         </div>
        <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
        <p style="margin-top: 20px;">Inform delegates about the ever-evolving energy industry through interactions with current industry leaders, inspiring them to generate their own ideas and become the leaders of tomorrow.</p> 
      </div>
    </div>
</div>
  <div class="container-fluid emphasis delegates section">
    <div class="row text-center">
      <h1>Delegates</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h2>Why participate?</h2>
        <p>
          <a href="/about">QGEC</a> provides students with the unique opportunity to learn about globally emerging markets and trends in today's diverse energy sectors, in a conference which provides a floor where all sectors of the energy industry are represented.
        </p>
        <p>
          The scheduled activities include sessions to hear from industry leaders about their energy sectors, various social events and meals at Kingston's most cherished venues, and a case competition. Intimate learning and networking opportunities are aplenty.
        </p>
      </div>
    </div>
    <!--
    <div class="row minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="#" class="btn btn-qgec btn-lg btn-block">Apply Now</a>
      </div>
    </div> -->

   <!-- <div class="row text-center">
      <h3>This Year's Schedule:</h3>
      <img src="img/schedule.png" class="img-responsive center-block">
    </div>
    <div class="row text-center minor-section">
      <p>
        Check out the entire <a href="docs/delegate_package_v4.pdf">delegates package</a> to find out more about the conference.
      </p>
    </div>
    <div class="row minor-section">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="/apply" class="btn btn-qgec btn-lg btn-block">Apply Now</a>
      </div>
    </div> -->
  </div>
  <div class="container-fluid emphasis speakers section">
    <div class="row text-center">
      <h1>Speakers</h1>
      <br>
    </div>
  </div>
  <div class="container">
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          These leaders at the forefront of their respective fields inspired future leaders by speaking to provide a better understanding of what the future of energy entails.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="speaker" data-toggle="modal" data-target="#miye">
          <img src="img/speakers/2018/miye.jpg" class="img-responsive img-circle" alt="miye">
          <h4>Miye Cox</h4>
          <p class="text-muted">Toyota Motor Manufacturing Canada Inc.<br>
            <small>Environmental Engineering Manager</small>
          </p>
        </a>
      </div>
    
  

      <div class="col-sm-6">
        <a class="speaker" data-toggle="modal" data-target="#jeff">
          <img src="img/speakers/2018/jeff.jpg" class="img-responsive img-circle" alt="jeff">
          <h4>Jeff Gaulin</h4>
          <p class="text-muted">Canadian Association of Petroleum Producers<br>
            <small>Vice President, Communications</small>
          </p>
        </a>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#gideon">
          <img src="img/speakers/2018/gideon.jpg" class="img-responsive img-circle" alt="gideon">
          <h4>Gideon Forman</h4>
          <p class="text-muted">David Suzuki Foundation<br>
            <small>Climate Change Analyst</small>
          </p>
        </a>
      </div>
      
      
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#jeannette">
          <img src="img/speakers/2018/jeannette.jpg" class="img-responsive img-circle" alt="jeannette">
          <h4>Jeannette Briggs</h4>
          <p class="text-muted">ieso<br>
            <small>Director of Settlements</small>
          </p>
        </a>
      </div>
    
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#gerry">
          <img src="img/speakers/2018/gerry.jpg" class="img-responsive img-circle" alt="gerry">
          <h4>Gerry Chaput</h4>
          <p class="text-muted">Metrolinx<br>
            <small>Vice President, Rapid Transit</small>
          </p>
        </a>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#nicolle">
          <img src="img/speakers/2018/nicolle.jpg" class="img-responsive img-circle" alt="nicolle">
          <h4>Nicolle Butcher</h4>
          <p class="text-muted">Ontario Power Generation<br>
            
          </p>
        </a>
      </div>
      
      
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#emmanuel">
          <img src="img/speakers/2018/emmanuel.jpg" class="img-responsive img-circle" alt="emmanuel">
          <h4>Emmanuel Giry</h4>
          <p class="text-muted">Alberta Energy Ressources<br>
            <small>Manager, Enterprise Risk Management</small>
          </p>
        </a>
      </div>
    
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#heather">
          <img src="img/speakers/2018/heather.jpg" class="img-responsive img-circle" alt="heather">
          <h4>Heather Ferguson</h4>
          <p class="text-muted">Ontario Power Generation<br>
            <small>Vice President, Environment</small>
          </p>
        </a>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#warren">
          <img src="img/speakers/2018/warren.jpg" class="img-responsive img-circle" alt="warren">
          <h4>Warren Mabee</h4>
          <p class="text-muted">Queen's Department of Geography<br>
            
          </p>
        </a>
      </div>
      
      
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#bill">
          <img src="img/speakers/2018/bill.jpg" class="img-responsive img-circle" alt="bill">
          <h4>Bill Wong</h4>
          <p class="text-muted">Leidos Canada<br>
          </p>
        </a>
      </div>
    
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#ross">
          <img src="img/speakers/2018/ross.jpg" class="img-responsive img-circle" alt="ross">
          <h4>Ross Green</h4>
          <p class="text-muted">Apricity Renewables Inc.<br>
            <small>President and Principle Engineer</small>
          </p>
        </a>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#joe">
          <img src="img/speakers/2018/joe.jpg" class="img-responsive img-circle" alt="joe">
          <h4>Joe Thewaites</h4>
          <p class="text-muted">LUSH Cosmetics<br>
            
          </p>
        </a>
      </div>
      
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#murat">
          <img src="img/speakers/2018/murat.jpg" class="img-responsive img-circle" alt="murat">
          <h4>Murat Basarir</h4>
          <p class="text-muted">CoPower<br>
            <small>Business Development Manager</small>
          </p>
        </a>
      </div>
    
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#andrew">
          <img src="img/speakers/2018/andrew.jpg" class="img-responsive img-circle" alt="andrew">
          <h4>Andrew McGillis</h4>
          <p class="text-muted">Hydrostor<br>
          </p>
        </a>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#michael">
          <img src="img/speakers/2018/michael.jpg" class="img-responsive img-circle" alt="michael">
          <h4>Michael Doxtater</h4>
          <p class="text-muted">Queen's Department of Languages<br>
            
          </p>
        </a>
      </div>
      
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#mariano">
          <img src="img/speakers/2018/mariano.jpg" class="img-responsive img-circle" alt="mariano">
          <h4>Mariano Arriaga</h4>
          <p class="text-muted">Ontario First Nation Technical Services Corporation<br>
          </p>
        </a>
      </div>
      </div>
    </div>
      <!--
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#kevin">
          <img src="img/speakers/2017/kevin.jpg" class="img-responsive img-circle" alt="kevin">
          <h4>Kevin Gilchrist</h4>
          <p class="text-muted">OTB Energy<br>
            <small>Founder</small>
          </p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#kipp">
          <img src="img/speakers/2017/kipp.jpg" class="img-responsive img-circle" alt="kipp">
          <h4>Kipp Horton</h4>
          <p class="text-muted">WindRiver Power<br>
            <small>CEO</small>
          </p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="speaker" data-toggle="modal" data-target="#rob">
          <img src="img/speakers/2017/rob.jpg" class="img-responsive img-circle" alt="rob">
          <h4>Rob Harvey</h4>
          <p class="text-muted">Hydrogenics<br>
            <small>Director</small>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a class="speaker" data-toggle="modal" data-target="#shivani">
          <img src="img/speakers/2017/shivani.jpg" class="img-responsive img-circle" alt="shivani">
          <h4>Shivani Chotalia</h4>
          <p class="text-muted">NRStor<br>
            <small>Analyst</small>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a class="speaker" data-toggle="modal" data-target="#davin">
          <img src="img/speakers/2017/davin.jpg" class="img-responsive img-circle" alt="davin">
          <h4>Davin Young</h4>
          <p class="text-muted">Hydrostor<br>
            <small>Senior Engineer</small>
          </p>
        </a>
      </div>
    </div>
    <!-- For 2018, when speaker companies are announced but speakers themselves are not, use the following: -->
<!--     <div class="row minor-section text-center">
      <h2>Featuring Speakers from:</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-1 col-md-10">
        <img src="img/logos/2017/suncor.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hydrogenics.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hydrostor.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/ontpowergen.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/brookfield.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/hatch.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/ieso.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/jcm.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/kelvin.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/nrstor.png" class="img-responsive sponsors-img">
      </div>
    </div> -->
    <!-- A collapsible element to hide and show speakers, not used -->
<!--     <div class="row text-center minor-section">
      <a class="btn btn-qgec btn-lg" role="button" data-toggle="collapse" href="#speakersCollapse" aria-expanded="false" aria-controls="speakersCollapse">
        View the Speakers
      </a>
      <div class="collapse" id="speakersCollapse">
        <div class="panel panel-default">
          <div class="panel-body">
            
          </div>
        </div>
      </div>
    </div> -->
    <!-- Leave up during down times of conference -->
    <div class="container">
     <div class="row text-center minor-section">
      <p class="lead">
        If you're an industry leader and want to participate as a speaker or if you're interested in becoming a partner, please <a href="mailto:qgec@engsoc.queensu.ca">contact</a> us.
      </p>
    </div>
    </div>
<!--  </div>
  <div class="container-fluid emphasis partners section">
    <div class="row text-center">
      <h1>Partners</h1>
      <br>
    </div>
  </div>
  <div class="container minor-section">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          QGEC could not be as successful without our wonderful partners.
        </p>
      </div>
    </div>
    <div class="row minor-section text-center">
      <img src="img/logos/2017/sea.png" class="img-responsive center-block">
      <h2>
        <small>University of Toronto</small><br> Sustainable Engineers Association (SEA)
      </h2>
      <div class="col-md-offset-2 col-md-8">
        <p>
          We are extremely excited to announce our partnership with the University of Toronto’s <a href="http://www.sustainable-engineers.org/">Sustainable Engineers Association (SEA)</a>! They will be sending students to our conference, and in return, we will be sending some of our students to the U of T Sustainability Conference.
        </p>
        <p>
          SEA's annual Sustainability Conference is taking place on January 28th. This year's theme is “From Policy to Practice”. We will be showcasing how various sustainable projects, ventures and policies are currently being applied within industry practice.
        </p>
        <p>
          This collaboration is exciting for both groups as it gives both parties an opportunity to increase delegate diversity. Delegate diversity is essential in the discussion of global energy and sustainability due to the inherent multidisciplinary nature of such problems. More information about the U of T Sustainability Conference can be found at their <a href="https://www.facebook.com/events/1122346707882485/">Facebook page</a>.
        </p>
      </div>
    </div>

    <div class="row minor-section text-center">
      <img src="img/logos/2017/ecic.png" class="img-responsive center-block">
      <h2>
        <small>Queen's University</small><br> Engineering Commerce Investment Club (ECIC)
      </h2>
      <div class="col-md-offset-2 col-md-8">
        <p>
          The Engineering Commerce Investment Club (ECIC) is a club that aims to provide skills and knowledge pertaining to money management, investing, and business creation. During the conference, they will be providing participants with a <strong>stock simulator</strong>.
        </p>
        <p>
          The QGEC stock simulator will provide delegates with the opportunity to experience what it’s like to invest and manage a portfolio. Delegates will be split into groups where they will be given information on market conditions and a variety of stocks from a range of sectors. Each group will start with the same amount of money and will have the ability to invest and buy stocks. Over the course of the weekend, a series of “shocks” will occur which will cause the values of the stocks to either increase or decrease and the money in your group’s portfolio to change. At the end of the weekend, the winning group will receive a prize.
        </p>
        <p>
          The ECIC meets weekly at SparQ Studios in Carruthers Hall. Weekly meetings include guest speakers, stock pitches and current market discussions. ECIC is an incredibly inclusive environment that welcomes students from every faculty. The multi-disciplinary environment not only provides a variety of perspectives but allows students from a wide range of skill sets to come together and create start-ups. 
        </p>
      </div>
    </div>

    <div class="row minor-section text-center">
      <h2>Further Sponsors</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-1 col-md-10">
        <img src="img/logos/2017/hydro1.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/utilkingston.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/engsoc.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/shell.png" class="img-responsive sponsors-img">
        <img src="img/logos/2017/soylent.png" class="img-responsive sponsors-img">
      </div>
    </div>
-->
<!--
    <div class="row text-center minor-section">
      <p class="lead">
        If you're interested in becoming a partner for a great cause, please <a href="/contact">contact</a> us.
      </p>
    </div>
  </div>
-->
  
  <div class="container">
    <!--
    <div class="row major-section">
      <div class="col-lg-12">
        <h1 class="page-header text-center">Mainstream Renewable Energy Technologies</h1>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-solar" id="solar">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/solar.jpg" alt="solar">
          <div class="overlay">
            <h2>Solar</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-hydro">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/hydro.jpg" alt="hydro">
          <div class="overlay">
            <h2>Hydro</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-wind">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/wind.jpg" alt="wind">
          <div class="overlay">
            <h2>Wind</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-geothermal">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/geothermal.jpg" alt="geothermal">
          <div class="overlay">
            <h2>Geothermal</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-bio">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/bio.jpg" alt="bio">
          <div class="overlay">
            <h2>Bio</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#mod-storage">
        <div class="hovereffect">
          <img class="img-responsive" src="img/clean/storage.jpg" alt="storage">
          <div class="overlay">
            <h2>Energy Storage</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
    </div>
-->
    </div>
<!--
    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            Apply to be a delegate today! Don't miss out on one of the biggest environmental conferences held in Canada, seats are limited.
          </p>
          <p>
            If you have any questions, reach out to us at any time.
          </p>
        </div>
        <div class="col-md-4">
          <a target="_blank" href="https://qgec.typeform.com/to/wHjnc2" class="btn btn-lg btn-qgec btn-block">Apply Now</a>
        </div>
      </div>
    </div>
-->
  </div>
  <!-- /.container -->

  <% include common/footer %>
  <% include index/clean-modals %>
  <% include speaker-modals %>
  <script type="text/javascript" src="js/carousel_slide.js"></script>
</body>
</html>