<html>
<head>
  <% include common/head %>
</head>
<body>
  <% include common/nav %>

  <!-- Header Carousel -->
  <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
        <div class="carousel-caption">
          <h2>QGEC</h2>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
        <div class="carousel-caption">
          <h2>QGEC</h2>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
        <div class="carousel-caption">
          <h2>QGEC</h2>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row text-center intro-section">
      <div class="col-lg-12">
        <h1 class="page-header">
          Embracing a New Age of Energy Innovation
        </h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          This year’s conference theme, “Embracing a New Age of Energy Innovation” focuses on embracing a new age of energy innovation.
        </p>
        <p>
          Discussion topics include: The feasibility of alternative energy sources in today’s economy, promising technologies impacting energy-related issues and the problems associated with government led and free market approaches to alternative energy sources.
        </p>
      </div>
    </div>
    <div class="row section">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-power-off"></i> About QGEC</h4>
          </div>
          <div class="panel-body">
            <p>
              The Queen's Global Energy Conference is run by students of Queen's University, and we have philosophies that guide the nature of our conferences.
              <br>
              <a href="/about" class="btn btn-default panel-btn pull-right">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-child"></i> Get Involved</h4>
          </div>
          <div class="panel-body">
            <p>
              There's many ways to get involved. If you would like to participate, you can sign up as a delegate, or if you're an expert in the field and would like to share knowledge, apply to become a speaker. We're also always looking for corporate partners to help ensure the conference is a success.
            </p>
            <div class="btn-group pull-right"ma>
              <a href="/delgates" class="btn btn-default panel-btn">Delegates</a>
              <a href="/delgates" class="btn btn-default panel-btn">Speakers</a>
              <a href="/delgates" class="btn btn-default panel-btn">Partners</a>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-calendar"></i> Previous Years</h4>
          </div>
          <div class="panel-body">
            <p>
              QGEC had its inaugural year last year, in 2016. The slogan of our previous conference was 'Shaping the Energy of Tomorrow'.
            </p>
            <a href="#" class="btn btn-default panel-btn pull-right">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row section">
      <div class="col-lg-12">
        <h2 class="page-header text-center">Clean Energy Methods</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Solar</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Hydro</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Wind</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Geothermal</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Bio</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          <div class="overlay">
            <h2>Energy Storage</h2>
            <a class="info">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="well">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            Apply to be a delegate today! Don't miss out on one of the biggest environmental conferences held in Canada, seats are limited.
          </p>
          <p>
            If you have any questions, reach out to us at any time.
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-primary btn-block" href="/delegates">Apply Now</a>
          <a class="btn btn-lg btn-default btn-block" href="/contact">Contact</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <% include common/footer %>
  <script type="text/javascript" src="js/carousel_slide.js"></script>
</body>
</html>