<div class="modal fade" id="bruce" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/bruce.jpg" alt="">
        <br>
        <h3 class="text-center">
          Bruce Mackay<br>
          <small>Managing Director, Hatch</small>
        </h3>
        <p>
          Bruce is the Managing Director of Hatch’s Western North America region as well as a Managing Director in the Energy sector.  He is a Chemical Engineer with over 27 years of experience in Controls and Automation, Project Management, Engineering and Commissioning. 
        </p>
        <p>
          Bruce brings valued experience and extensive involvement as Project Sponsor and Project Manager for a variety of pre-feasibility, feasibility and basic engineering studies as well as for large scale implementation projects. As a Project Sponsor, he forms and participates in project steering teams with clients and provides guidance to project teams. He is an associate and has worked with Hatch in Sudbury and Mississauga, Ontario, St. John’s, Newfoundland and Labrador, Richards Bay and Johannesburg, South Africa and has executed projects world-wide. 
        </p>
        <p>
          Bruce is a University of Waterloo graduate and is married with three children.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="davin" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/davin.jpg" alt="davin">
        <br>
        <h3 class="text-center">
          Davin Young<br>
          <small>Senior Engineer, Hydrostor</small>
        </h3>
        <p>
          Davin Young P.Eng is a Queen’s Sci 11’ graduate form the Engineering Physics program. He is currently a senior engineer with Hydrostor, a start-up commercializing compressed air energy storage (CAES) with a focus on underwater air storage. Prior to Hydrostor, Davin had a brief stint with Hatch Inc., developing a feedback mechanism to improve smelter efficiency, before he transitioned into the world of green energy start-ups. The first start-up he was involved with was inMotive, developing the mechatronic variable speed drive, a novel transmission for electric motors. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="george" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/george.jpg" alt="george">
        <br>
        <h3 class="text-center">
          George Sweetman<br>
          <small>Director, Queen's University</small>
        </h3>
        <p>
          George graduated from Queen’s University in 1985 with a degree in Geological Engineering.  He worked as a consulting engineer in the field of stormwater management and became a partner in a civil engineering firm that practiced in the land development industry.  After 15 years as a consultant, George recognized the need for engineers to develop a more multi-disciplinary approach to complex problem solving. George left the consulting firm and returned to Queen’s University to become the Director of the Integrated Learning Centre.
        </p>
        <p>
          As Director, George contributed to changes in the engineering curriculum and to the construction of the Integrated Learning Centre (Beamish Munro Hall), a building which was selected to represent Canada at the 2005 World Sustainable Building Conference.
        </p>
        <p> 
          Next, George identified an emerging opportunity for rooftop solar development resulting from the Ontario Government’s Green Energy Act.   To address this opportunity, he co-founded Greenlight Projects Inc., a company which provided due diligence and project management to the solar industry.
        </p>
        <p>
          Furthering his consulting practice, George worked on a large-scale ground mount solar development and is currently working with a non-profit affordable housing provider.  His current projects are the design and construction of two mixed-use, multi-residential, affordable housing buildings in Hamilton.  In response to the need for reduced energy consumption and GHG emissions, the buildings are being designed and constructed to Passive House standards. 
        </p>
        <p>
          Since 2007, George has also been Coordinator of Undergraduate Internship Program for the Faculty of Engineering and Applied Science at Queen’s University, providing support to both employers and students.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="joanne" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/joanne.jpg" alt="joanne">
        <br>
        <h3 class="text-center">
          JoAnne Butler<br>
          <small>Vice President, IESO</small>
        </h3>
        <p>
          Ms. Butler is currently Vice President, Market & Resource Development at the Independent Electricity System Operator (IESO) and was the Vice President, Electricity Resources at the Ontario Power Authority (OPA).  Through amendments to the Electricity Act, the operations of the IESO and the OPA were merged on January 1, 2015, bringing together real-time operations of the grid with long-term planning, procurement and conservation efforts.  Prior to joining the OPA in 2008, Ms. Butler was president of TransAlta Mexico, where she was responsible for the day-to-day management of the business, including supporting business development and contracting activities as well as the ongoing operation of the company’s two Mexican electricity generating plants.  Prior to moving to Mexico in 2001, she was TransAlta’s general manager for western operations in Calgary and was responsible for the operation of four new generating stations.
        </p>
        <p>
          Ms. Butler also worked in the oil and gas exploration sector with Amoco Corporation for 21 years, and in her last assignment as general manager for engineering and construction and Chief Engineer, she led support teams for construction and operations in Canada and internationally. Expatriate roles included temporary assignments in Egypt and Tunisia, and a five-year assignment in the United Arab Emirates.
        </p>
        <p> 
          Ms. Butler holds a Bachelor of Science (honours) degree in civil engineering from Queen’s University in Kingston. She was an executive of the Canadian Chamber of Commerce for her six years in Mexico, including a two-year term as its president. She has a Chartered Director (C. Dir) designation from the Director’s College and is currently a Board member of the Ontario Shores Centre for Mental Health Sciences in Whitby, Ontario, the Technical Standards and Safety Authority (TSSA) of Ontario and the Association of Power Exchanges (APEx).  In 2013, Ms. Butler was one of the Top 100: Canada’s Most Powerful Women in the Public Sector Leaders category.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="kevin" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/kevin.jpg" alt="kevin">
        <br>
        <h3 class="text-center">
          Kevin Gilchrist<br>
          <small>Founder, OTB Energy</small>
        </h3>
        <p>
          Kevin Gilchrist is the Principal and founder of OTB Energy Inc., a private advisory company that focuses on business and project development and finance within the CleanTech Energy sector. 
        </p>
        <p>
          With more that 20 years in the fields of natural gas, power generation and electrical energy distribution and markets, Mr. Gilchrist has now focused on taking this broad experience and playing it to the CleanTech space where he has lead the development and execution of projects and companies deploying cogeneration, solar, wind, biogas and energy storage technologies.
        </p>
        <p> 
          In 2002, he was a Founding Partner of Pristine Power Inc., a successful IPP start-up based in Calgary that was listed on the Toronto Stock Exchange and originated more than 2,200 MW of project opportunities before being sold in 2010.
        </p>
        <p>
          Mr. Gilchrist resides in Toronto, Ontario, where he is currently actively engaged in various CleanTech enterprises through OTB Energy Inc., and through his volunteer advisor work with the MaRS Discovery District. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="kipp" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/kipp.jpg" alt="kipp">
        <br>
        <h3 class="text-center">
          Kipp Horton<br>
          <small>President &amp; CEO, WindRiver Power</small>
        </h3>
        <p>
          Kipp Horton is President and CEO of WindRiver Power Corporation. The organization’s focus is on developing, constructing and operating renewable energy projects in Western Canada. A professional engineer with 20 years of experience, his career has included diverse assignments ranging from rural development in the Bolivian Andes, to water resource management on behalf of Albertan irrigators to, most recently, leading the private investment of over $150 million in hydro and wind power projects in British Columbia and Alberta. Along the way, Kipp has become a passionate believer in success through partnership and collaboration.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="kris" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/kris.jpg" alt="kris">
        <br>
        <h3 class="text-center">
          Kris Smith<br>
          <small>Vice President, Suncor</small>
        </h3>
        <p>
          As executive vice president, Downstream, Kris is responsible for the operations of Suncor’s refining network in North America, as well as industrial, commercial and retail marketing of refined products under the Petro-Canada brand. Kris is also accountable for Suncor's global lubricant business, renewable energy porfolio, and energy supply and trading activities. Since joining Suncor in 2000, Kris has held a variety of roles. Most recently, he served as Suncor’s senior vice president, Supply Trading &amp; Corporate Development, where he was responsible for marketing, logistics and energy trading, corporate strategic planning and development, and the company’s business process and information services. Kris has also held positions in the General Counsel’s office, the U.S. downstream business and at Suncor’s Oil Sands operation.
        </p>
        <p>
          Kris obtained his bachelor of arts with honours from the University of Alberta in 1992, and his bachelor of laws from Dalhousie University in 1995. He is a member of the Alberta and Colorado bars. Prior to joining Suncor, Kris was a lawyer at a respected law firm in Calgary, Alta.
        </p>
        <p> 
          Kris sits on the board of directors for the Canadian Fuels Association, as well as on the board of directors of Actua, Canada’s largest science, technology, engineering and mathematics youth outreach organization. He is also Chair of the 2016 United Way Region of Peel Campaign.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rob" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/rob.jpg" alt="rob">
        <br>
        <h3 class="text-center">
          Rob Harvey<br>
          <small>Director of Energy Storage, Hydrogenics</small>
        </h3>
        <p>
          Rob Harvey is the Director, Energyo Storage at Hydrogenics, a leading hydrogen cleantech company company which designs and builds MW scale electrolysers for Power-to-Gas plants which produce renewable hydrogen and provide grid services. In his business development role, Rob is responsible for market analytics, project proposals, advocacy work through association, and being the "voice of the customer" to define future needs for the company's product platform and control system development.
        </p>
        <p>
          As a former Principle with PHB Hagler Bailly and energy consultant with Oliver Wyman, Rob worked with several leading North American electric utilities in the areas of scenario-based planning, businessmodel analytics and change management. He has also worked with startup ventures in waste-to-energy and biogas CHP developing business plans and engaging project stakeholders.
        </p>
        <p>
          Rob currently serves as Board Chair of Energy Storage Canada.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shivani" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2017/shivani.jpg" alt="shivani">
        <br>
        <h3 class="text-center">
          Shivani Chotalia<br>
          <small>Analyst, NRStor</small>
        </h3>
        <p>
          Shivani graduated with a dual degree in Green Process Engineering and Business Administration from Western University, and now works as an Analyst with NRStor - a Canadian developer of energy storage projects. Shivani was also selected as a Venture for Canada Fellow; she is one of top 30 recent grads in Canada showing an aptitude for entrepreneurship and leadership.
        </p>
        <p>
          Shivani discovered her passion for cleantech while working at a plastics recycling startup. Prior to that, Shivani worked in finance as an investment banking summer analyst in Calgary, and in R&D doing polymer engineering research in China. Shivani has been involved with Engineers Without Borders for 6 years and acted as the President of the Western Chapter. She is excited about the intersection of "for profit" and "for good", and is interested in exploring innovative models making this happen.
        </p>
        <p> 
          Her love of travelling and learning languages has taken her from waitressing in Quebec to watching the sunrise from the Great Wall of China. One of her latest adventures was teaching an Ivey case-based business class in Ghana.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
