<div class="modal fade" id="gideon" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/gideon.jpg" alt="gideon">
        <br>
        <h3 class="text-center">
          Gideon Forman<br>
          <small>Community Climate Change Analyst, David Suzuki Foundation</small>
        </h3>
        <p>
          Gideon Forman received his Master's in Philosophy from McGill University and a Certificate in Renewable Energy from the University of Toronto. For over a decade he was Executive Director of the Canadian Association of Physicians for the Environment, leading campaigns that helped to ban lawn-pesticides and phase-out coal-fired power. The pesticide ban he helped to establish in Ontario was the most health-protective legislation of its kind in North America. In 2013, he received a Queen Elizabeth II Diamond Jubilee medal in recognition of his environmental work.
        </p>
        <p>
          He became a Climate Change Policy Analyst with the David Suzuki Foundation in the summer of 2015. At the DSF he promotes renewable energy projects and the expansion of public transit and active transportation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="jeannette" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/jeannette.jpg" alt="">
        <br>
        <h3 class="text-center">
          Jeannette Briggs<br>
          <small>Director of Settlements, The Independent Electricity System Operator (ieso)</small>
        </h3>
        <p>
         eannette Briggs has held a wide-range of jobs within the Independent Electricity System Operator – Supervisor Market Development, Director, Internal Audit, Director Corporate Planning (Strategy, Enterprise Risk, Performance Measures, Regulatory Affairs and Government Relations) and is currently the Director of Settlements overseeing the $17.5 billion dollars of financial transactions in Ontario’s electricity market. She is a member of her company’s pension management committee. She a Board member and Audit Committee chair for Osteoporosis Canada and volunteers her time at The Compass, a food bank and outreach center in Mississauga Ontario.
        </p>
        <p>
         Ms. Briggs has a BA Economics from the University of Western Ontario, and a MBA from the Schulich School of Business. She is a CPA, CMA and is a Fellow of Board Governance.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="jeff" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/jeff.jpg" alt="jeff">
        <br>
        <h3 class="text-center">
          Jeff Gaulin<br>
          <small>Vice President, Communications, Canadian Association of Petroleum Producers</small>
        </h3>
        <p>
          Jeff Gaulin is the Vice President, Communications at the Canadian Association of Petroleum Producers. He is responsible for enhancing public confidence in Canada’s oil and gas sector so industry can meet the growing demand for energy among Canadians and around the world.
          In his 20 year career, Mr. Gaulin has worked across Canada in a variety of sectors – on environment, electricity, beer, health care, newspapers and television. This gives him a unique national perspective when it comes to public affairs.
          He has worked in the media, in government and in the private sector.
          </p>

          <p>

          Prior to CAPP, Mr. Gaulin was Vice President, Marketing, Communications & Government Relations at Tervita Corporation. Over his tenure he successfully led a cultural and brand transformation for Canada’s largest energy and environmental services company.

          </p>
          <p>
          Mr. Gaulin has also worked at TransAlta, where he was the Vice President Communications, Government Relations and Aboriginal Affairs for Canada’s largest, independent power generator. With TransAlta, he secured $778 million in federal and provincial funding for the largest carbon capture and storage project in the electricity sector.
          He is of Métis ancestry from Ontario.
          </p>
          <p>
          The Canadian Association of Petroleum Producers (CAPP) represents companies, large and small, that explore for, develop and produce natural gas and crude oil throughout Canada. CAPP’s member companies produce about 80 per cent of Canada’s natural gas and crude oil. CAPP's associate members provide a wide range of services that support the upstream crude oil and natural gas industry. Together CAPP's members and associate members are an important part of a national industry with revenues from crude oil and natural gas production of about $110 billion a year. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gerry" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/gerry.jpg" alt="gerry">
        <br>
        <h3 class="text-center">
          Gerry Chaput<br>
          <small>Vice President, Rapid Transit, Metrolinx</small>
        </h3>
        <p>
Metrolinx is undertaking the largest transit build in Canadian history and is in the process of delivering over $32 billion in transit projects with 31 municipalities. With his strong team of Directors and transit partners at Infrastructure Ontario, municipalities and transit authorities, the Rapid Transit Group is delivering over $13 B worth of infrastructure to support Light Rail Transit (LRT) and Bus Rapid Transit (BRT) in the Greater Toronto Hamilton Area over the next 10 years. Key projects include the Eglinton Crosstown, Finch West, Hurontario and Hamilton LRT systems and the Viva Next BRT program.

        </p>

        <p>
         Prior to joining Metrolinx, Gerry was an Assistant Deputy Minister with the Ministry of Transportation delivering an annual capital program of approximately $3 B – one of the largest capital programs in the provincial government. Over his 29 years with the ministry, Gerry worked in various areas of the province, gathering planning, design, construction, operations and policy experience.

        </p>
        <p> 
          Gerry is a graduate of Applied Science, Civil discipline from Queen’s University in Kingston and is the past President of the Transportation Association of Canada.       
       </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emmanuel" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/emmanuel.jpg" alt="emmanuel">
        <br>
        <h3 class="text-center">
          Emmanuel Giry<br>
          <small>Manager, Enterprise Risk Management, Alberta Energy Regulator</small>
        </h3>
        <p>
          In his role of ERM Manager Emmanuel Giry provides the AER with the risk management expertise necessary to understand, regulate and control the industrial risks associated with more than 420,000km of pipelines, 450,000 wells, tens of thousands of surface facilities and 30 coal and oil sands mines across the province of Alberta. Prior to joining the AER in 2016, Emmanuel had spent 8 years providing asset, ageing and risk management services to major Canadian and US energy operators as Managing Director of Oxand, an international energy consultancy.
        </p>
        <p>
          Emmanuel’s 28-year international career that took him from Europe to South and North America spans a variety of sectors including manufacturing, industrial logistics, environmental services, consulting and the public sector.
        </p>
        <p> 
          Emmanuel graduated in 1988 from the Paris Central School of Engineering (France) with a Master Degree in Industrial Engineering. He is a Professional Engineer registered in the provinces of Alberta and Quebec. He holds a Canadian Risk Manager (CRM) designation from the Global Risk Management Institute (GRMI) and is a Certified Risk Management Professional (CRMP) with the Risk and Insurance Management Society (RIMS).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nicolle" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/nicolle.jpg" alt="nicolle">
        <br>
        <h3 class="text-center">
          Nicolle Butcher<br>
          <small>Ontario Power Generation</small>
        </h3>
        <p>
          Nicolle has over 20 years of project experience across a wide range of projects including establishing a lease for the Bruce Nuclear plant and development of the Portlands Energy Centre. Nicolle currently is accountable for articulating OPG’s strategy including a growth and innovation strategy and driving strategic business functions such as trading, acquisitions and market affairs.
        </p>
        <p>
          Nicolle currently sits on the Board of Directors of Portlands. Nicolle holds a Bachelor and Master degree in Business Administration and is a Chartered Business Valuator. Nicolle earned a Certified Project Manager designation from Stanford University and has earned an ICD.D designation from the Institute of Corporate Directors.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="heather" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/heather.jpg" alt="heather">
        <br>
        <h3 class="text-center">
          Heather Ferguson<br>
          <small>Vice President, Environment, Ontario Power Generation</small>
        </h3>
        <p>
          With over 20 years of experience in the resource development and electricity sectors, Heather is currently the Vice President of Environment at Ontario Power Generation (OPG). In this role, she is responsible for OPG’s Environment team which supports OPG’s Hydroelectric, Thermal and Nuclear operations, as well as OPG’s development and construction projects. Heather also has accountability for key strategic environmental initiatives, including OPG’s Transportation Electrification Strategy which is focused on leveraging OPG’s clean generation portfolio to electrify transportation in Ontario and developing new related lines of business for OPG. Prior to this, Heather was the Director of OPG’s Hydroelectric Business Development Group where she was responsible for the advancement of OPG's project portfolio from concept to construction. Prior to joining OPG, Heather was a consultant in the Calgary office of Golder Associates where she worked on environmental assessments for large-scale resource development projects in the mining and oil & gas sectors.
        </p>
        <p>
          Heather holds an undergraduate and Master's degree in Science from Queen's University, as well as an MBA from the Rotman School of Management and is the Chair of the Ontario Waterpower Association, and a Director on the Boards of Wildlife Habitat Council, Electric Mobility Canada and the Peter Sutherland Sr. Generating Station.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="miye" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/miye.jpg" alt="miye">
        <br>
        <h3 class="text-center">
          Miye Cox<br>
          <small>Environmental Engineering Manager, Toyota</small>
        </h3>
        <p>
          Miye Cox is the Manager for Environmental Engineering at Toyota Motor Manufacturing Canada Inc. (TMMC). With her team, Miye is responsible for environmental protection programs at both TMMC assembly plants, in Cambridge and Woodstock, Ontario. During her 28 years of experience, Miye has been involved in all aspects of environmental management including ISO14001, waste minimization, energy and water conservation, air emissions management, regulatory development, and environmental consulting. Recent accomplishments include the launch of a naturalization program at TMMC, which restores and enhances TMMC property to be suitable to sustain wildlife. Through this work, TMMC was awarded the Wildlife at Work certification under the Wildlife Habitat Council.
        </p>
        <p>
           Miye graduated from the Queen’s University Chemical Engineering program in 1989 and while at Queen’s was the co-founder of Science Quest which launched in 1988.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warren" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/warren.jpg" alt="warren">
        <br>
        <h3 class="text-center">
          Warren Mabee<br>
          <small>Queen's Department of Geography</small>
        </h3>
        <p>
          Dr. Warren Mabee is Professor and Head of the Department of Geography and Planning at Queen’s University. He is the Canada Research Chair in Renewable Energy Development and Implementation, with a specialty in bioenergy technology and policy. As the Director of Queen’s Institute for Energy and Environmental Policy he has interest in the intersection between energy issues and other aspects of environmental management. Dr. Mabee’s research is networked through the International Energy Agency to initiatives around the world.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bill" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/bill.jpg" alt="bill">
        <br>
        <h3 class="text-center">
          Bill Wong<br>
        </h3>
        <p>
          Mr. Bill Wong has over 35 years of technical and business experience in the energy, environment and the manufacturing sectors. He is currently the program manager of Leidos Canada’s Integrated Energy Solutions Program. He has made contributions to many renewable energy projects across Canada.
        </p>
        <p>
         Most notably, Mr. Wong was the lead consultant and project manager for the award-winning, first-of-its-kind solar project in North America - the Drake Landing Solar Community - in Okotoks, Alberta. Mr. Wong holds a Master’s degree in mechanical engineering and a Bachelor of Applied Science degree in Engineering Science from the University of Toronto, and an MBA from the University of Ottawa.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ross" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/ross.jpg" alt="ross">
        <br>
        <h3 class="text-center">
          Ross Green<br>
          <small>Apricity</small>
        </h3>
        <p>
         President and principle engineer at Apricity Renewables Inc. Ross is a licensed Professional Engineer with seven years of diverse experience in the Solar PV Industry. A background in applications engineering, performance modelling, construction engineering, and construction management gives Ross a unique frame of reference for approaching projects and problems. Leveraging a keen attention to detail and sound engineering fundamentals, he has diligently overseen the construction and implementation of over 40 million dollars of high quality solar PV and hybrid renewable assets.
        </p>
        <p>
         Ross is a proven leader in managing and executing on successful Solar PV projects, and headed a prominent Ontario EPC prior to co-founding Apricity Renewables.
        </p>
        <p>
         Apricity Renewables Inc. (ARI) is a Canadian Professional Engineering Firm that specializes in delivering engineering services for solar and renewable projects. ARI combines 100MW+ of C&I engineering & construction experience, 7500+ hours in the ﬁeld, and research level expertise to deliver value-added solutions for our clients.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="joe" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/joe.jpg" alt="joe">
        <br>
        <h3 class="text-center">
          Joe Thwaites<br>
          <small>LUSH Cosmetics</small>
        </h3>
        <p>
         Joe Thwaites is a lifelong social entrepreneur who has worked with renewable energy systems for over 25 years and holds a degree in Chemical Engineering. Joe has founded several businesses, run a national charity, been a University Lecturer and has served as a Director of various organizations, including the Canadian Solar Industries Association and the Canadian Global Change Program. He has also acted as a technical consultant for federal and provincial renewable energy programs over the years.
        </p>
        <p>
         Joe has designed systems and facilitated planning work for a variety of clients including homeowners, businesses, First Nations, and communities. Joe has won several awards including the Ethics in Action Award for leadership on triple bottom-line business.
        </p>
        <p>
         He currently works as the Facilities Manager for LUSH Manufacturing, on a team implementing a sustainability vision into their production facilities. He lives on small farm outside of Vancouver with his two daughters and their over-privileged dog.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="murat" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/murat.jpg" alt="murat">
        <br>
        <h3 class="text-center">
          Murat Basarir<br>
          <small>Business Development Manager, CoPower</small>
        </h3>
        <p>
        As a Business Development Manager at CoPower, Murat sources investment opportunities and takes part in structuring the financing of projects that both lead to a reduction of carbon emissions and generate financial returns. Prior to joining CoPower, he was involved in a broad spectrum of international cleantech projects such as developing Portugal's first virtual power plant trial and launching the United Kingdom’s first driverless pod initiative as well as its first wireless charged electric buses startup.
        </p>
        <p>
         As an advocate for sustainability, Murat led a nationwide energy efficiency project that was featured as an exemplary low-carbon initiative by the UK government and was acknowledged by the Economist and the BBC. He holds a BSc and a MSc in Mechanical Engineering from Queen’s University, a MPhil in Engineering from Cambridge University, and completed the Ignite program at Stanford’s Graduate Business School.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="andrew" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/andrew.jpg" alt="andrew">
        <br>
        <h3 class="text-center">
          Andrew McGillis<br>
          <small>Hydrostor</small>
        </h3>
        <p>
          Mr. McGillis is a professional engineer with more than fifteen years experience working in the marine and power sectors. He has led the engineering efforts of Hydrostor for four years, including as the lead engineer for the world's first underwater compressed air energy storage system. Prior to Hydrostor, Andrew worked with Baird & Associates for more than a decade supporting various projects around the world in the coastal and marine sector, ultimately acting as the lead engineer for offshore renewables within the firm. Andrew holds a bachelor's degree from Queen's and a Masters degree from the Technical University of Denmark.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ron" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/ron.jpg" alt="ron">
        <br>
        <h3 class="text-center">
          Ron Barry<br>
          <small>Senior Manager, Recruiting, Accenture Consulting</small>
        </h3>
        <p>
          Ron is a management consultant with expertise in the natural resource sector. He began his career as a public affairs consultant advising a large global mining company on government relations strategy.  His career has since included the development of construction and contracting strategies for multi-billion-dollar capital projects in the Canadian energy sector.
        </p>
        <p>
          Ron's current focus is advising energy and mining clients on how to leverage digital technologies to improve their industrial operations. Both in his role as the lead of Accenture Canada's Resource-industry Artificial Intelligence Hub, and through his client advisory practice, he is seeking to improve safety and productivity for their operations and their people.
        </p>

        <p>
          Ron is fluent in French and Italian.  He is active in his community, having served on several boards. He is the co-chair of the Canada Fashion Group Advisory Board, and has previously served on the Calgary Philharmonic Orchestra's Board of Directors, and the Ontario Advisory Committee on HIV/AIDS.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="scott" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/scott.jpg" alt="ron">
        <br>
        <h3 class="text-center">
          Scott Bohachyk<br>
          <small>Director of Work-Integrated Learning, UNA-Canada</small>
        </h3>
        <p>
          Scott is the Director of Work-Integrated Learning at UNA-Canada. He is primarily responsible for the strategic development, management, implementation and evaluation of UNA-Canada’s prestigious Canada Green Corps and International Development & Diplomacy Internship Programmes (IDDIP). Scott’s professional experience has included international education, youth employment and implementation of the Sustainable Development Goals in Canada. This work has enabled him to work with universities, international organizations, and non-profits in Saudi Arabia, Botswana and Indonesia over the past decade. After graduating with a Bachelor of Education from the University of Alberta, Scott went on to study at the University of Waterloo, where he completed a Master of Development Practice (MDP) focusing on renewable energy policy.
        </p>
        <p>
          Scott was recently a North American representative to the third United Nations Environment Assembly in Nairobi, Kenya, and is also a proud alumnus of UNA-Canada’s IDDIP having worked at the intersection of green growth strategies and youth employment policy with UNDP Bhutan.
        </p>

        <p>
          Scott is an avid cyclist and hiker, as well as the unofficial cribbage champion of Ottawa Centre.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mariano" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive center-block" src="img/speakers/2018/mariano.jpg" alt="mariano">
        <br>
        <h3 class="text-center">
          Mariano Arriaga<br>
          <small>Ontario First Nation Technical Services Corporation</small>
        </h3>
        <p>
         Mariano Arriaga, Ph.D., P.Eng., is the Renewable Energy Specialist at Ontario First Nations Technical Services (OFNTSC) where he assists and train First Nations in energy projects at their different stages. He is also a Postdoctoral Fellow working in energy storage at the Electrical and Computer Engineering Department at the University of Waterloo. Mariano has worked for over 10 years in technical, economic, and social challenges associated with energy in on- and off-grid communities. He has worked in the feasibility and deployment of renewable energy projects in Canada, Mexico, Laos, and Tanzania.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>