<html>
<head>
  <% include common/head %>
  <meta name="robots" content="noindex" />
</head>
<body>
  <% include common/nav %>
  <div class="container">
    <div class="row">
      <h1 class="page-header text-center">Thank You!</h1>
    </div>
    <div class="row section text-center">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">
          Your QGEC Application or Registration was completed successfully.
          <br>
          We look forward to seeing you!
        </p>
        <hr>
        <p>
            <i>For paid events, financial assistance for Queen's students are available for persons with valid reasons through bursaries - email <a href="mailto:conference@qgec.ca">conference@qgec.ca</a> with why you think you could benefit from a bursary to attend.</i>
          </p>
        <hr>
        <p>
          Visit our <a href="https://www.facebook.com/officialQGEC/">Facebook Page</a>,
        </p>
        <p>
          or go back <a href="/">Home</a>.
        </p>
      </div>
    </div>
  </div>
  </div>

  <% include common/footer %>
</body>
</html>