@font-face {
  font-family: basicTitle;
  src: url("../fonts/BasicTitleFont.ttf") format('truetype');
}
@font-face {
  font-family: basicTitle;
  src: url("../fonts/BasicTitleFont.ttf") format('truetype');
}

@font-face {
  font-family: bebasNeue;
  src: url("../fonts/BebasNeue.otf") format('opentype');
}