/* global.css for QGEC-node
-------------------------------------------------- */
@import url('fonts.css');

/* Colors:
cc5b66 : qgec red;
f2f3f9 : qgec white;
121215 : qgec black;

a34851 : qgec darker-red;
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 200px;
  /* Required padding for navbar fixed top */
  padding-top: 50px;
  /* Color for spons & speaker pckgs */
  background-color: #f2f3f9;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

a {
  color: #cc5b66;
}

a:hover {
  text-decoration: none;
  color: #a34851;
}

h1, h2, h3, h4, h5, h6 {
  font-family: bebasNeue, "Times New Roman", serif;
  letter-spacing: 2px;
}

p {
  line-height: 2em;
  font-size: 1.1em;
}

/* Used on home page for slogan */
h1.slogan {
  font-size: 55px; 
  letter-spacing: 3px;
}
h1.sub-slogan {
  font-size: 45px;
  letter-spacing: 3px;
}

/* Components */

.btn {
  font-family: "Georgia", serif;
  font-style: italic;
}
.page-header {
  border-color: #cc5b66;
}

.btn-qgec {
  color: #fff;
  background-color: #cc5b66;
  border-color: #cc5b66;
}
.btn-qgec:hover,
.btn-qgec:focus,
.btn-qgec:active,
.btn-qgec.active,
.open .dropdown-toggle.btn-custom {
  color: #fff;
  background-color: #a34851;
  border-color: #a34851;
}
.btn-qgec:active,
.btn-qgec.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-qgec.disabled,
.btn-qgec[disabled],
fieldset[disabled] .btn-qgec,
.btn-qgec.disabled:hover,
.btn-qgec[disabled]:hover,
fieldset[disabled] .btn-qgec:hover,
.btn-qgec.disabled:focus,
.btn-qgec[disabled]:focus,
fieldset[disabled] .btn-qgec:focus,
.btn-qgec.disabled:active,
.btn-qgec[disabled]:active,
fieldset[disabled] .btn-qgec:active,
.btn-qgec.disabled.active,
.btn-qgec[disabled].active,
fieldset[disabled] .btn-qgec.active {
  background-color: #8e3f47;
  border-color: #8e3f47;
}
.btn-qgec .badge {
  color: #fff;
  background-color: #a34851;
}

/* Navbar */
.navbar-qgec {
  background-color: #121215;
  border-color: #121215;
  font-family: basicTitle, "Times New Roman", serif;
  letter-spacing: 4px;
  font-size: 1.2em;
}
.navbar-qgec .navbar-brand {
  font-size: 1.4em;
  color: #cc5b66;
  -webkit-text-stroke: 0.25px white;
}
.navbar-qgec .navbar-brand:hover,
.navbar-qgec .navbar-brand:focus {
  -webkit-text-stroke: 0.25px black;
}
/* link */
.navbar-qgec .navbar-nav > li > a {
  color: #f2f3f9;
  position: relative;
}
.navbar-qgec .navbar-nav > li > a:hover,
.navbar-qgec .navbar-nav > li > a:focus {
  color: #fff;
  background-color: inherit;
}
.navbar-qgec .navbar-nav > .active > a, 
.navbar-qgec .navbar-nav > .active > a:hover, 
.navbar-qgec .navbar-nav > .active > a:focus {
  color: #f2f3f9;
  background-color: #cc5b66;
}
.navbar-qgec .navbar-nav > .open > a, 
.navbar-qgec .navbar-nav > .open > a:hover, 
.navbar-qgec .navbar-nav > .open > a:focus {
  color: #cc5b66;
  background-color: inherit;
}
/* caret */
.navbar-qgec .navbar-nav > .dropdown > a .caret {
  border-top-color: #cc5b66;
  border-bottom-color: #cc5b66;
}
.navbar-qgec .navbar-nav > .dropdown.active > a .caret,
.navbar-qgec .navbar-nav > .dropdown.active > a:hover .caret,
.navbar-qgec .navbar-nav > .dropdown.active > a:focus .caret {
  border-top-color: #f2f3f9;
  border-bottom-color: #f2f3f9;
}
.navbar-qgec .navbar-nav > .dropdown > a:hover .caret,
.navbar-qgec .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #cc5b66;
  border-bottom-color: #cc5b66;
}
.navbar-qgec .navbar-nav > .dropdown.open > a:hover .caret,
.navbar-qgec .navbar-nav > .dropdown.open > a:focus .caret {
  border-top-color: #cc5b66;
  border-bottom-color: #cc5b66;
}
.navbar-qgec .navbar-nav > .open > a .caret, 
.navbar-qgec .navbar-nav > .open > a:hover .caret, 
.navbar-qgec .navbar-nav > .open > a:focus .caret {
  border-top-color: #cc5b66;
  border-bottom-color: #cc5b66;
}
/* mobile version */
.navbar-qgec .navbar-toggle {
  border-color: #DDD;
}
.navbar-qgec .navbar-toggle:hover,
.navbar-qgec .navbar-toggle:focus {
  background-color: #cc5b66;
}
.navbar-qgec .navbar-toggle .icon-bar {
  background-color: #CCC;
}

.navbar-qgec .navbar-nav li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cc5b66;
  visibility: hidden;
  -webkit-tranform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-qgec .navbar-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 767px) {
  .navbar-qgec .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-qgec .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-qgec .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #cc5b66;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #cc5b66;
  color: #fff;
}


/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Home Page */

.emphasis {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  line-height: 400px;
}

.emphasis h1 {
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #f2f3f9;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px #cc5b66;
  font-size: 80px;
}

.emphasis.delegates {
  background-image: url("../img/delegates-d.jpg");
}

.emphasis.speakers {
  background-image: url("../img/speaker-d.jpg");
}

.emphasis.partners {
  background-image: url("../img/sponsor-d.jpg");
}

#quote-carousel {
  padding-bottom: 40px;
}

/* Responsive Styles */

@media(max-width:991px) {
  .gallery-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .hovereffect {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

/* Footer Styles */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #504646;
  color: #B8AEAE;
}

.footer a {
  color: #AEB8B8;
}
.footer a:hover {
  color: #DFE9E9;
}

.footer .container {
  padding-top: 20px;
}

.spacer {
  margin-top: 80px;
}

/* Spacing Styles */

.intro-section {
  margin-top: 50px;
}

.tiny-section {
  margin-top: 20px;
}

.minor-section {
  margin-top: 50px;
}

.section {
  margin-top: 100px;
}

.major-section {
  margin-top: 150px;
}

.panel-btn {
  margin-top: 20px;
}

.sub-header {
  margin-top: 30px;
}

li.includes {
  margin:0 0 13px 0;   
}

/*.break {
  padding-top: 100px;
}*/

/* Speaker Styles */
.speaker {
  text-align:center;
  margin-bottom: 20px;
}

.speaker img {
  margin:0 auto;
  border:7px solid #fff;
}

.speaker h4 { 
  margin-top:0px;
  margin-bottom:0;
  text-transform:none;
}

.speaker p {
  margin-top:0
}




/* Hover Effects court. https://miketricking.github.io/dist/ */

.hovereffect {
  width:100%;
  /*height:100%;*/
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  margin-bottom: 30px;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}

.hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
}

.hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}

.hovereffect2 {
  width: 100%;
  /*height: 100%;*/
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 30px;
}

.hovereffect2 .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect2:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect2 img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect2:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect2 h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect2 a,.hovereffect2 p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect2:hover a, .hovereffect2:hover p, .hovereffect2:hover h2 {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.thumbnail {
  border: 0 none !important;
  box-shadow: none;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

#year-error {
  display: none !important;
}
