<div class='row minor-section'>
  <div class='col-md-offset-2 col-md-8'>
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">        
      <!-- Carousel Slides / Quotes -->
      <div class="carousel-inner">
        <!-- Quote 1 -->
        <div class="item active">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="img/quotes/taylor.jpg" style="width: 100px;height:100px;" alt="taylor">
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p><i>
                  The speakers were engaging, the case competition entertaining, and the socials a riot. If you want to learn more about the energy industry and have a good time doing it, I highly recommend that you attend QGEC!
                </i></p>
                <small>Taylor Sweet, <a href="https://engsoc.queensu.ca/">EngSoc</a> DoC 2016/17</small>
              </div>
            </div>
          </blockquote>
        </div>

        <!-- Quote 2 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="img/quotes/james.jpg" style="width: 100px;height:100px;" alt="james">
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p><i>
                  The conference was very well organized and combined a fun case competition with engaging speakers. It provided an excellent opportunity for us to network and meet like-minded individuals both in industry and in our school.
                </i></p>
                <small>James Xie, 2016 Delegate</small>
              </div>
            </div>
          </blockquote>
        </div>

        <!-- Quote 3 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="img/quotes/hannah.jpg" style="width: 100px;height:100px;" alt="hannah">
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p><i>
                  QGEC was an amazing experienced that really opened my eyes to the realities of the energy industry and where it's headed, and how someone in my position can be involved. Would recommend to anyone!
                </i></p>
                <small>Hannah Medwid, 2016 Delegate</small>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>                          
  </div>
</div>