<div class='row minor-section'>
  <div class='col-md-offset-2 col-md-8'>
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">        
      <!-- Carousel Slides / Quotes -->
      <div class="carousel-inner">
        <!-- Quote 1 -->
        <div class="item active">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="http://images.gmanews.tv/webpics/2016/01/TWICE_2016_01_15_15_01_30.jpg" style="width: 100px;height:100px;">
                <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                <small>Someone famous</small>
              </div>
            </div>
          </blockquote>
        </div>

        <!-- Quote 2 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12568817_1714141435483214_1927655790_n.jpg?ig_cache_key=MTE4MTc1NzA0MjIxNzc3NDQ3OQ%3D%3D.2" style="width: 100px;height:100px;">
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                <small>Someone famous</small>
              </div>
            </div>
          </blockquote>
        </div>

        <!-- Quote 3 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
              </div>
              <div class="col-sm-9">
                <i class="fa fa-quote-right"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan.</p>
                <small>Someone famous</small>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>                          
  </div>
</div>