<html>
<head>
  <% include ../common/head %>
</head>
<body>
  <% include ../common/nav %>
  <div class="container">
    <div class="row text-center">
      <h1 class=""><small>Blog</small><br>
      </h1>
      <h1 class="page-header"> Canada's Innovation Supercluster Initiative</h1>
    </div>
  </div>

  <div class="container">
    <div class="row section text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          
          Canada seeks ways to keep up as the world races to have the most current breakthroughs in innovation and technology. With the United States’ progress in Silicon Valley, Canada seeks to match its advancements in innovation and job creation.

          Canada has invested $950 million over five years into an initiative called the Innovation Supercluster Initiative (ISI).  The initiative has been built to progress Canada’s innovation efforts and pull together businesses of a variety of sizes including large firms, research institutions, and small and medium-sized enterprises (SMEs). Over the past year the initiative has been launched for applications, applicants have been shortlisted, and finally five areas focusing on different energy sectors have been chosen for the initiative. The money will be contributed to not-for-profit entities that represent industry-led consortia. 

          The superclusters have been chosen across Canada. There are five different sectors located in British Columbia, Prairie Provinces, Ontario, Quebec, and Atlantic Canada. The superclusters are partnered with various companies, not-for-profit organizations, and post-secondary schools across Canada in effort to improve innovation in a variety of sectors.

          British Columbia - Digital Technology Supercluster

          The major increase in data across the globe has increased in the last two years more than ever in the history of the human race. The need for data analysis is required more than ever and Canada strives to be a global leader in the digital sector. The digital technology supercluster will increase productivity in mining, the health sector, and preserve the native indigenous languages by documenting them and digitally storing them. 

          Prairie Provinces – Protein Industries Supercluster

          The Prairie Provinces will focus on food growth and farming technology in the Prairie provinces to increase the value of Canadian crops.  The supercluster plans to place Canada a global leader for high-quality plant proteins and plant-based products. The industry will contribute to economic growth by keeping an international trade balance for Canada. The production environment is planned to be carbon neutral, keeping the processes efficient. The official launch of the Protein Industries Supercluster is taking place in Winnipeg, Manitoba from October 3rd to 4th and will bring leaders across the industry together. 


          Ontario – Advanced Manufacturing Supercluster 

          Next Generation Manufacturing Canada (NGen) runs the Advanced Manufacturing Supercluster and plans to improve products and generate jobs across Canada. NGen will help companies of all sizes shift to advanced manufacturing processes using technology such as 3D printing and artificial intelligence (AI).  NGen will connect Canadian manufacturers, schools, government, and technology providers to advance the Canadian manufacturing sector. The board of directors for the supercluster NGen is made of leaders from a variety of companies such as Linamar, Woodbridge Group, University of Toronto, Siemens, MaRS Discovery District, Xerox, and more. 


          Quebec – AI-Powered Supply Chains Supercluster (SCALE.AI)

          As the innovation in robotics and artificial intelligence increases, Quebec will become a hub for companies focusing on this development. Major companies include Canadian Tire, Air Canada, Aecon, SNC, PWC, Cisco, and more who are in partnership with the supercluster. To have a major impact on Canada’s economy SCALE AI claims that by 2028 it will generate more than 16,000 jobs and grow JDP by more than 16.5 billion dollars. The SCALE AI supercluster has tailored objectives per key stakeholder. The stakeholders include: supply chain users, supply chains/AI/digital providers, start-ups, the workforce, and Canada as a whole. The objectives per stakeholder can be found in the strategy section of the SCALE AI website, using the link listed below.

          Atlantic Canada – Ocean Supercluster

          Canada’s economy benefits from the ocean industry on the Atlantic Coastline including fisheries, aquaculture, marine bio-products, transportation, defence, marine renewables, oil and gas, and overall ocean technology. The Ocean Supercluster will partner with companies such as IBM, Siemens, Microsoft, and ABB, to name a few.

         
          Superclusters will create programs to better lead the respective supercluster to their goals in innovation.  Programs are initiated by members of each supercluster that determine these projects. The project ideas increase collaboration across organizations within the supercluster. Then Projects are then decided upon by the board of the respective supercluster and projects are supported by matching government funding.

          The investment is to be matched dollar for dollar by the private sector and is expected to provide over 50,000 jobs in the next ten years, allowing Canada’s economy to grow. The projects that come out of Canada’s supercluster initiatives will increase productivity, jobs, economic growth, and hopefully make Canada a global leader in the energy sector for innovation. More information on the Supercluster Initiative can be found at.

        </p>
      </div>
    </div>

<!--
    <div class="row section">
      <h2 class="page-header text-center">Corporate Partners</h2>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/siemens.jpg" alt="siemens">
          <div class="overlay">
            <h2>Siemens Canada</h2>
            <p>Multinational engineering, electronics, and energy company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/bullfrog.jpg" alt="bullfrog-power">
          <div class="overlay">
            <h2>Bullfrog Power</h2>
            <p>Canadian 100% Green Energy Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/heliolytics.jpg" alt="heliolytics">
          <div class="overlay">
            <h2>Heliolytics</h2>
            <p>Global Leader in Aerial Thermal Imaging and Analysis for Photovoltaic Systems</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/uk.jpg" alt="utilities-kingston">
          <div class="overlay">
            <h2>Utilities Kingston</h2>
            <p>Kingston-based Multi-Utility Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/westview.jpg" alt="westview">
          <div class="overlay">
            <h2>Westview Capital Partners</h2>
            <p>Boston-based Private Equity Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/cswan.jpg" alt="cunningham-swan">
          <div class="overlay">
            <h2>Cunningham Swan</h2>
            <p>Kingston-based Law Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/altranex.jpg" alt="altranex">
          <div class="overlay">
            <h2>Altranex Corporation</h2>
            <p>Kingston-based Renewable Fuel &amp; Chemicals Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/soylent.jpg" alt="soylent">
          <div class="overlay">
            <h2>Soylent</h2>
            <p>Innovative Meal Replacement Producer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/beaverbuzz.jpg" alt="beaverbuzz">
          <div class="overlay">
            <h2>Beaver Buzz Energy</h2>
            <p>Energy Drink Producer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/mackinnon.jpg" alt="mackinnon">
          <div class="overlay">
            <h2>Mackinnon Brothers</h2>
            <p>Kingston-based Brewery</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row section text-center">
      <h2 class="page-header">At the Conference</h2>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-1">
        <img class="img-responsive gallery-img" src="img/featured/2016/1.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-2">
        <img class="img-responsive gallery-img" src="img/featured/2016/2.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-3">
        <img class="img-responsive gallery-img" src="img/featured/2016/3.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-4">
        <img class="img-responsive gallery-img" src="img/featured/2016/4.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-5">
        <img class="img-responsive gallery-img" src="img/featured/2016/5.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-6">
        <img class="img-responsive gallery-img" src="img/featured/2016/6.jpg" alt="">
      </div>
    </div>
    <div class="row section text-center">
      <p>
        <a href="https://www.facebook.com/officialQGEC/photos/?tab=album&album_id=924915437605709&hc_location=ufi" target="_blank">View All Photos <br><i class="fa fa-facebook-square fa-2x"></i></a>
      </p>
    </div> -->
  </div>
  <% include ../common/footer %>
  <% include 2016-modals %>
</body>
</html>