<html>
<head>
  <% include ../common/head %>
</head>
<body>
  <% include ../common/nav %>
  <div class="container">
    <div class="row text-center">
      <h1 class=""><small>February 10th - 12th</small><br>
        2016
      </h1>
      <h1 class="page-header">Embracing A New Age Of Innovation</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <iframe width="100%" height="400px" src="https://www.youtube.com/embed/V-woA2uykkM?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="container">
    <div class="row section text-center">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          2017's conference theme “Embracing a New Age of Innovation” focused providing a holistic view of the innovation and change going on in the industry today and tomorrow.
        </p>
      </div>
    </div>

    <div class="row section text-center">
      <h2 class="page-header">Speakers</h2>
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">
          These leaders at the forefront of their respective fields inspired future leaders by speaking to provide a better understanding of what the future of energy entails.
        </p>
      </div>
    </div>
    <div class="row minor-section">
      <div class="col-sm-6">
        <div class="speaker">
          <img src="img/speaker/20171.jpg" class="img-responsive img-circle" alt="tom">
          <h4>Kris Smith</h4>
          <p class="text-muted">Suncor<br>
            <small>Exectuive Vice President, Downstream</small>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="speaker">
          <img src="img/speaker/20172.jpg" class="img-responsive img-circle" alt="brian">
          <h4>Ted Gruetzner</h4>
          <p class="text-muted">Ontario Power Generation;<br>
            <small>Vice President, Corporate Relations & Communications</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20173.jpg" class="img-responsive img-circle" alt="chad">
          <h4>Kerry McKenna</h4>
          <p class="text-muted">Hatch<br>
            <small>Practice Leader</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20174.jpg" class="img-responsive img-circle" alt="anthony">
          <h4>George Sweetman</h4>
          <p class="text-muted">Queen's University<br>
            <small>Director</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20175.jpg" class="img-responsive img-circle" alt="rob">
          <h4>Joanne Butler</h4>
          <p class="text-muted">IESO<br>
            <small>Vice President</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20176.jpg" class="img-responsive img-circle" alt="lisa">
          <h4>Kevin Gilchrist</h4>
          <p class="text-muted">OTB Energy<br>
            <small>Founder</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20177.jpg" class="img-responsive img-circle" alt="matt">
          <h4>Kipp Horton</h4>
          <p class="text-muted">WindRiver Power<br>
            <small>CEO</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20178.jpg" class="img-responsive img-circle" alt="tyson">
          <h4>Rob Harvey</h4>
          <p class="text-muted">Hydrogenics<br>
            <small>Director</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/20179.jpg" class="img-responsive img-circle" alt="stephen">
          <h4>Shivani Chotalia</h4>
          <p class="text-muted">NRStor<br>
            <small>Analyst</small>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="speaker">
          <img src="img/speaker/201710.jpg" class="img-responsive img-circle" alt="rick">
          <h4>Davin Young</h4>
          <p class="text-muted">Hydrostor<br>
            <small>Senior Engineer</small>
          </p>
        </div>
      </div>
    </div>
<!--
    <div class="row section">
      <h2 class="page-header text-center">Corporate Partners</h2>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/siemens.jpg" alt="siemens">
          <div class="overlay">
            <h2>Siemens Canada</h2>
            <p>Multinational engineering, electronics, and energy company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/bullfrog.jpg" alt="bullfrog-power">
          <div class="overlay">
            <h2>Bullfrog Power</h2>
            <p>Canadian 100% Green Energy Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/heliolytics.jpg" alt="heliolytics">
          <div class="overlay">
            <h2>Heliolytics</h2>
            <p>Global Leader in Aerial Thermal Imaging and Analysis for Photovoltaic Systems</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/uk.jpg" alt="utilities-kingston">
          <div class="overlay">
            <h2>Utilities Kingston</h2>
            <p>Kingston-based Multi-Utility Provider</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/westview.jpg" alt="westview">
          <div class="overlay">
            <h2>Westview Capital Partners</h2>
            <p>Boston-based Private Equity Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/cswan.jpg" alt="cunningham-swan">
          <div class="overlay">
            <h2>Cunningham Swan</h2>
            <p>Kingston-based Law Firm</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/altranex.jpg" alt="altranex">
          <div class="overlay">
            <h2>Altranex Corporation</h2>
            <p>Kingston-based Renewable Fuel &amp; Chemicals Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/soylent.jpg" alt="soylent">
          <div class="overlay">
            <h2>Soylent</h2>
            <p>Innovative Meal Replacement Producer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/beaverbuzz.jpg" alt="beaverbuzz">
          <div class="overlay">
            <h2>Beaver Buzz Energy</h2>
            <p>Energy Drink Producer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        <div class="hovereffect2">
          <img class="img-responsive" src="img/logos/2016/mackinnon.jpg" alt="mackinnon">
          <div class="overlay">
            <h2>Mackinnon Brothers</h2>
            <p>Kingston-based Brewery</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row section text-center">
      <h2 class="page-header">At the Conference</h2>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-1">
        <img class="img-responsive gallery-img" src="img/featured/2016/1.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-2">
        <img class="img-responsive gallery-img" src="img/featured/2016/2.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-3">
        <img class="img-responsive gallery-img" src="img/featured/2016/3.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-4">
        <img class="img-responsive gallery-img" src="img/featured/2016/4.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-5">
        <img class="img-responsive gallery-img" src="img/featured/2016/5.jpg" alt="">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" data-toggle="modal" data-target="#mod-6">
        <img class="img-responsive gallery-img" src="img/featured/2016/6.jpg" alt="">
      </div>
    </div>
    <div class="row section text-center">
      <p>
        <a href="https://www.facebook.com/officialQGEC/photos/?tab=album&album_id=924915437605709&hc_location=ufi" target="_blank">View All Photos <br><i class="fa fa-facebook-square fa-2x"></i></a>
      </p>
    </div>
  -->
  </div>
  <% include ../common/footer %>
  <% include 2017-modals %>
</body>
</html>